# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.pagination import AsyncPager, SyncPager
from ...core.request_options import RequestOptions
from ...types.analyze_batch_status_response import AnalyzeBatchStatusResponse
from ...types.batch_defaults import BatchDefaults
from ...types.batch_item_request import BatchItemRequest
from ...types.batch_result_item import BatchResultItem
from ...types.batch_status import BatchStatus
from ...types.create_analyze_batch_response import CreateAnalyzeBatchResponse
from .raw_client import AsyncRawBatchesClient, RawBatchesClient
from .types.batches_list_request_analysis_mode_item import BatchesListRequestAnalysisModeItem
from .types.create_analyze_batch_request_analysis_mode import CreateAnalyzeBatchRequestAnalysisMode
from .types.create_analyze_batch_request_model_name import CreateAnalyzeBatchRequestModelName

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class BatchesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawBatchesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawBatchesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawBatchesClient
        """
        return self._raw_client

    def list(
        self,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        status: typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]] = None,
        analysis_mode: typing.Optional[
            typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[AnalyzeBatchStatusResponse]:
        """
        Use this method to list all the batch objects in your account. The response sorts batches by creation date, with the newest batch first.

        Parameters
        ----------
        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        status : typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]]
            Filter batches by status. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `status` parameter:
            ```
            status=processing&status=canceling
            ```
            If you omit this parameter, the response includes batches in all statuses.

        analysis_mode : typing.Optional[typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]]
            Filter batches by analysis mode. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `analysis_mode` parameter:
            ```
            analysis_mode=general&analysis_mode=time_based_metadata
            ```
            If you omit this parameter, the response includes batches in all analysis modes.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[AnalyzeBatchStatusResponse]
            A list of batch objects.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        response = client.analyze_async.batches.list(
            page=1,
            page_limit=10,
        )
        for item in response:
            yield item
        # alternatively, you can paginate page-by-page
        for page in response.iter_pages():
            yield page
        """
        return self._raw_client.list(
            page=page,
            page_limit=page_limit,
            status=status,
            analysis_mode=analysis_mode,
            request_options=request_options,
        )

    def create(
        self,
        *,
        model_name: CreateAnalyzeBatchRequestModelName,
        analysis_mode: CreateAnalyzeBatchRequestAnalysisMode,
        requests: typing.Sequence[BatchItemRequest],
        defaults: typing.Optional[BatchDefaults] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateAnalyzeBatchResponse:
        """
        Use this method to submit many video analysis requests in a single call. Each request creates an analysis task. The response contains one batch identifier and one task identifier per request. Use the batch identifier to check progress and retrieve results.

        <Note title="Model requirement">
        You must use Pegasus 1.5 for batch analysis. Set the `model_name` parameter to `pegasus1.5`.
        </Note>

        **When to use this method**:
        - Run the same model and analysis settings across many videos.
        - Track a single batch instead of many individual analysis tasks.

        **Do not use this method for**:
        - Single videos that require immediate results. Use the [`POST`](/v1.3/api-reference/analyze-videos/sync-analysis) method of the `/analyze` endpoint instead.
        - Background processing of a single video. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

        **Retention and retry**:
        - Batches expire 24 hours after creation. You can retrieve results for 30 days after creation.
        - If processing does not finish for some items in time, resubmit them in a new batch.

        **Limits**:
        - Up to 1,000 requests per batch.
        - Up to 2,000 total content hours per batch.
        - Up to 5 active batches per account.

        Parameters
        ----------
        model_name : CreateAnalyzeBatchRequestModelName
            The video understanding model to use for every item in this batch. Batch analysis requires Pegasus 1.5.

        analysis_mode : CreateAnalyzeBatchRequestAnalysisMode
            The analysis approach for every item in this batch.
            - `general`: Generate text from each video based on the prompt (the item's `prompt` field if set, otherwise `defaults.prompt`). Supports structured JSON output by using `json_schema` in the `response_format.type` field.
            - `time_based_metadata`: Extract timestamped metadata by using `segment_definitions` in the `response_format.type` field.

            Batches with mixed modes are not supported.

        requests : typing.Sequence[BatchItemRequest]
            The analysis requests in the batch. Provide 1 to 1,000 requests, with a combined video duration of up to 2,000 hours.

        defaults : typing.Optional[BatchDefaults]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateAnalyzeBatchResponse
            The platform has created the batch and queued an analysis task for each request.

        Examples
        --------
        from twelvelabs import (
            BatchDefaults,
            BatchItemRequest,
            BatchPrompt,
            BatchVideoContext,
            TwelveLabs,
        )

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.batches.create(
            model_name="pegasus1.5",
            analysis_mode="general",
            defaults=BatchDefaults(
                prompt=BatchPrompt(
                    input_text="Generate a 3-sentence executive summary of this video.",
                ),
                temperature=0.2,
                max_tokens=4096,
            ),
            requests=[
                BatchItemRequest(
                    video=BatchVideoContext(
                        type="asset_id",
                        asset_id="6298d673f1090f1100476d4c",
                    ),
                    custom_id="summary-001",
                ),
                BatchItemRequest(
                    video=BatchVideoContext(
                        type="asset_id",
                        asset_id="6298d673f1090f1100476d4d",
                    ),
                    custom_id="summary-002",
                ),
                BatchItemRequest(
                    video=BatchVideoContext(
                        type="asset_id",
                        asset_id="6298d673f1090f1100476d4e",
                    ),
                    custom_id="action-003",
                    prompt=BatchPrompt(
                        input_text="List all action items discussed.",
                    ),
                ),
            ],
        )
        """
        _response = self._raw_client.create(
            model_name=model_name,
            analysis_mode=analysis_mode,
            requests=requests,
            defaults=defaults,
            request_options=request_options,
        )
        return _response.data

    def retrieve(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AnalyzeBatchStatusResponse:
        """
        Use this method to monitor a batch. The response includes the current batch status and counts for queued, processing, ready, failed, and canceled items.

        Poll this method until the batch reaches the `completed`, `canceled`, or `expired` status. To retrieve the results, call the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-results) method of the `/analyze/batches/{batch_id}/results` endpoint.

        Do not treat the `completed` status as a success signal. It means processing has finished for every item, not that every analysis succeeded. To see how many items succeeded, failed, or were canceled, check the `ready_items`, `failed_items`, and `canceled_items` fields. A batch never has the `failed` status.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AnalyzeBatchStatusResponse
            Batch status retrieved successfully. The response includes batch details and item counts for each item status.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.batches.retrieve(
            batch_id="68f4ddaf8aaa60d33df0e800",
        )
        """
        _response = self._raw_client.retrieve(batch_id, request_options=request_options)
        return _response.data

    def delete(self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        Use this method to delete a batch and all the tasks associated with it. You can only delete batches with status `completed`, `canceled`, or `expired`.

        Deleting a batch does not affect billing. You are billed for every completed analysis regardless of whether you delete the batch afterward.

        To stop a batch with the `pending` or `processing` status, use the [`POST`](/v1.3/api-reference/analyze-videos/batch-analysis/cancel-batch) method of the `/analyze/batches/{batch_id}/cancel` endpoint.

        Batches are deleted 30 days after creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.batches.delete(
            batch_id="68f4ddaf8aaa60d33df0e800",
        )
        """
        _response = self._raw_client.delete(batch_id, request_options=request_options)
        return _response.data

    def results(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[BatchResultItem]:
        """
        Use this method to retrieve the results for each item in a batch. You can call it while the batch has the `pending` or `processing` status.

        Each result entry has a status. For details on each status, see the [Item statuses](/v1.3/api-reference/analyze-videos/batch-analysis/the-batch-object#item-statuses) section on the **The batch object** page.

        Each result entry includes a task identifier in the `task_id` field. Use this value with the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint if you need the full analysis task response.

        You can retrieve results for 30 days after batch creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.Iterator[BatchResultItem]
            The response is a JSON Lines (`application/jsonl`) stream. Each line is a JSON object containing one result entry for a batch item.

            Example body with four result entries:

            ```jsonl
            {"task_id":"68f4ddaf8aaa60d33df0e900","custom_id":"summary-001","status":"ready","data":{"generation_id":"gen_xyz789","data":"This video covers the keynote launch...","finish_reason":"stop","usage":{"output_tokens":150,"input_tokens":45}}}
            {"task_id":"68f4ddaf8aaa60d33df0e901","custom_id":"summary-002","status":"failed","error":{"code":"asset_unavailable","message":"The asset could not be read."}}
            {"task_id":"68f4ddaf8aaa60d33df0e902","custom_id":"summary-003","status":"processing"}
            {"task_id":"68f4ddaf8aaa60d33df0e903","custom_id":"summary-004","status":"queued"}
            ```

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        response = client.analyze_async.batches.results(
            batch_id="68f4ddaf8aaa60d33df0e800",
        )
        for chunk in response:
            yield chunk
        """
        with self._raw_client.results(batch_id, request_options=request_options) as r:
            yield from r.data

    def cancel(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AnalyzeBatchStatusResponse:
        """
        Use this method to request cancellation for a batch with the `pending` or `processing` status.

        When you invoke this method, the platform performs the following steps:
        - Cancels the items in the `queued` status.
        - Finishes the analysis for the items in the `processing` status.

        The batch status changes to `canceling` immediately, and to `canceled` after every item reaches `ready`, `failed`, or `canceled`. You are not billed for canceled or failed items.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AnalyzeBatchStatusResponse
            The platform accepted the cancellation request. Items already in the `processing` status continue until processing finishes. The batch status is `canceling` until every item reaches `ready`, `failed`, or `canceled`, then becomes `canceled`. The response shows the batch state at the time of the request. To confirm the batch is fully canceled, use the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-status) method of the `/analyze/batches/{batch_id}` endpoint.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.batches.cancel(
            batch_id="68f4ddaf8aaa60d33df0e800",
        )
        """
        _response = self._raw_client.cancel(batch_id, request_options=request_options)
        return _response.data


class AsyncBatchesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawBatchesClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawBatchesClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawBatchesClient
        """
        return self._raw_client

    async def list(
        self,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        status: typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]] = None,
        analysis_mode: typing.Optional[
            typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[AnalyzeBatchStatusResponse]:
        """
        Use this method to list all the batch objects in your account. The response sorts batches by creation date, with the newest batch first.

        Parameters
        ----------
        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        status : typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]]
            Filter batches by status. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `status` parameter:
            ```
            status=processing&status=canceling
            ```
            If you omit this parameter, the response includes batches in all statuses.

        analysis_mode : typing.Optional[typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]]
            Filter batches by analysis mode. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `analysis_mode` parameter:
            ```
            analysis_mode=general&analysis_mode=time_based_metadata
            ```
            If you omit this parameter, the response includes batches in all analysis modes.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[AnalyzeBatchStatusResponse]
            A list of batch objects.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            response = await client.analyze_async.batches.list(
                page=1,
                page_limit=10,
            )
            async for item in response:
                yield item

            # alternatively, you can paginate page-by-page
            async for page in response.iter_pages():
                yield page


        asyncio.run(main())
        """
        return await self._raw_client.list(
            page=page,
            page_limit=page_limit,
            status=status,
            analysis_mode=analysis_mode,
            request_options=request_options,
        )

    async def create(
        self,
        *,
        model_name: CreateAnalyzeBatchRequestModelName,
        analysis_mode: CreateAnalyzeBatchRequestAnalysisMode,
        requests: typing.Sequence[BatchItemRequest],
        defaults: typing.Optional[BatchDefaults] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateAnalyzeBatchResponse:
        """
        Use this method to submit many video analysis requests in a single call. Each request creates an analysis task. The response contains one batch identifier and one task identifier per request. Use the batch identifier to check progress and retrieve results.

        <Note title="Model requirement">
        You must use Pegasus 1.5 for batch analysis. Set the `model_name` parameter to `pegasus1.5`.
        </Note>

        **When to use this method**:
        - Run the same model and analysis settings across many videos.
        - Track a single batch instead of many individual analysis tasks.

        **Do not use this method for**:
        - Single videos that require immediate results. Use the [`POST`](/v1.3/api-reference/analyze-videos/sync-analysis) method of the `/analyze` endpoint instead.
        - Background processing of a single video. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

        **Retention and retry**:
        - Batches expire 24 hours after creation. You can retrieve results for 30 days after creation.
        - If processing does not finish for some items in time, resubmit them in a new batch.

        **Limits**:
        - Up to 1,000 requests per batch.
        - Up to 2,000 total content hours per batch.
        - Up to 5 active batches per account.

        Parameters
        ----------
        model_name : CreateAnalyzeBatchRequestModelName
            The video understanding model to use for every item in this batch. Batch analysis requires Pegasus 1.5.

        analysis_mode : CreateAnalyzeBatchRequestAnalysisMode
            The analysis approach for every item in this batch.
            - `general`: Generate text from each video based on the prompt (the item's `prompt` field if set, otherwise `defaults.prompt`). Supports structured JSON output by using `json_schema` in the `response_format.type` field.
            - `time_based_metadata`: Extract timestamped metadata by using `segment_definitions` in the `response_format.type` field.

            Batches with mixed modes are not supported.

        requests : typing.Sequence[BatchItemRequest]
            The analysis requests in the batch. Provide 1 to 1,000 requests, with a combined video duration of up to 2,000 hours.

        defaults : typing.Optional[BatchDefaults]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateAnalyzeBatchResponse
            The platform has created the batch and queued an analysis task for each request.

        Examples
        --------
        import asyncio

        from twelvelabs import (
            AsyncTwelveLabs,
            BatchDefaults,
            BatchItemRequest,
            BatchPrompt,
            BatchVideoContext,
        )

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.batches.create(
                model_name="pegasus1.5",
                analysis_mode="general",
                defaults=BatchDefaults(
                    prompt=BatchPrompt(
                        input_text="Generate a 3-sentence executive summary of this video.",
                    ),
                    temperature=0.2,
                    max_tokens=4096,
                ),
                requests=[
                    BatchItemRequest(
                        video=BatchVideoContext(
                            type="asset_id",
                            asset_id="6298d673f1090f1100476d4c",
                        ),
                        custom_id="summary-001",
                    ),
                    BatchItemRequest(
                        video=BatchVideoContext(
                            type="asset_id",
                            asset_id="6298d673f1090f1100476d4d",
                        ),
                        custom_id="summary-002",
                    ),
                    BatchItemRequest(
                        video=BatchVideoContext(
                            type="asset_id",
                            asset_id="6298d673f1090f1100476d4e",
                        ),
                        custom_id="action-003",
                        prompt=BatchPrompt(
                            input_text="List all action items discussed.",
                        ),
                    ),
                ],
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            model_name=model_name,
            analysis_mode=analysis_mode,
            requests=requests,
            defaults=defaults,
            request_options=request_options,
        )
        return _response.data

    async def retrieve(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AnalyzeBatchStatusResponse:
        """
        Use this method to monitor a batch. The response includes the current batch status and counts for queued, processing, ready, failed, and canceled items.

        Poll this method until the batch reaches the `completed`, `canceled`, or `expired` status. To retrieve the results, call the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-results) method of the `/analyze/batches/{batch_id}/results` endpoint.

        Do not treat the `completed` status as a success signal. It means processing has finished for every item, not that every analysis succeeded. To see how many items succeeded, failed, or were canceled, check the `ready_items`, `failed_items`, and `canceled_items` fields. A batch never has the `failed` status.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AnalyzeBatchStatusResponse
            Batch status retrieved successfully. The response includes batch details and item counts for each item status.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.batches.retrieve(
                batch_id="68f4ddaf8aaa60d33df0e800",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve(batch_id, request_options=request_options)
        return _response.data

    async def delete(self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        Use this method to delete a batch and all the tasks associated with it. You can only delete batches with status `completed`, `canceled`, or `expired`.

        Deleting a batch does not affect billing. You are billed for every completed analysis regardless of whether you delete the batch afterward.

        To stop a batch with the `pending` or `processing` status, use the [`POST`](/v1.3/api-reference/analyze-videos/batch-analysis/cancel-batch) method of the `/analyze/batches/{batch_id}/cancel` endpoint.

        Batches are deleted 30 days after creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.batches.delete(
                batch_id="68f4ddaf8aaa60d33df0e800",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete(batch_id, request_options=request_options)
        return _response.data

    async def results(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[BatchResultItem]:
        """
        Use this method to retrieve the results for each item in a batch. You can call it while the batch has the `pending` or `processing` status.

        Each result entry has a status. For details on each status, see the [Item statuses](/v1.3/api-reference/analyze-videos/batch-analysis/the-batch-object#item-statuses) section on the **The batch object** page.

        Each result entry includes a task identifier in the `task_id` field. Use this value with the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint if you need the full analysis task response.

        You can retrieve results for 30 days after batch creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.AsyncIterator[BatchResultItem]
            The response is a JSON Lines (`application/jsonl`) stream. Each line is a JSON object containing one result entry for a batch item.

            Example body with four result entries:

            ```jsonl
            {"task_id":"68f4ddaf8aaa60d33df0e900","custom_id":"summary-001","status":"ready","data":{"generation_id":"gen_xyz789","data":"This video covers the keynote launch...","finish_reason":"stop","usage":{"output_tokens":150,"input_tokens":45}}}
            {"task_id":"68f4ddaf8aaa60d33df0e901","custom_id":"summary-002","status":"failed","error":{"code":"asset_unavailable","message":"The asset could not be read."}}
            {"task_id":"68f4ddaf8aaa60d33df0e902","custom_id":"summary-003","status":"processing"}
            {"task_id":"68f4ddaf8aaa60d33df0e903","custom_id":"summary-004","status":"queued"}
            ```

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            response = await client.analyze_async.batches.results(
                batch_id="68f4ddaf8aaa60d33df0e800",
            )
            async for chunk in response:
                yield chunk


        asyncio.run(main())
        """
        async with self._raw_client.results(batch_id, request_options=request_options) as r:
            async for _chunk in r.data:
                yield _chunk

    async def cancel(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AnalyzeBatchStatusResponse:
        """
        Use this method to request cancellation for a batch with the `pending` or `processing` status.

        When you invoke this method, the platform performs the following steps:
        - Cancels the items in the `queued` status.
        - Finishes the analysis for the items in the `processing` status.

        The batch status changes to `canceling` immediately, and to `canceled` after every item reaches `ready`, `failed`, or `canceled`. You are not billed for canceled or failed items.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AnalyzeBatchStatusResponse
            The platform accepted the cancellation request. Items already in the `processing` status continue until processing finishes. The batch status is `canceling` until every item reaches `ready`, `failed`, or `canceled`, then becomes `canceled`. The response shows the batch state at the time of the request. To confirm the batch is fully canceled, use the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-status) method of the `/analyze/batches/{batch_id}` endpoint.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.batches.cancel(
                batch_id="68f4ddaf8aaa60d33df0e800",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.cancel(batch_id, request_options=request_options)
        return _response.data
