# This file was auto-generated by Fern from our API Definition.

import contextlib
import json
import typing
from json.decoder import JSONDecodeError

from ...core.api_error import ApiError
from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.http_response import AsyncHttpResponse, HttpResponse
from ...core.jsonable_encoder import jsonable_encoder
from ...core.pagination import AsyncPager, BaseHttpResponse, SyncPager
from ...core.pydantic_utilities import parse_obj_as
from ...core.request_options import RequestOptions
from ...core.serialization import convert_and_respect_annotation_metadata
from ...errors.bad_request_error import BadRequestError
from ...errors.conflict_error import ConflictError
from ...errors.gateway_timeout_error import GatewayTimeoutError
from ...errors.not_found_error import NotFoundError
from ...errors.service_unavailable_error import ServiceUnavailableError
from ...errors.too_many_requests_error import TooManyRequestsError
from ...types.analyze_batch_status_response import AnalyzeBatchStatusResponse
from ...types.batch_defaults import BatchDefaults
from ...types.batch_item_request import BatchItemRequest
from ...types.batch_result_item import BatchResultItem
from ...types.batch_status import BatchStatus
from ...types.create_analyze_batch_response import CreateAnalyzeBatchResponse
from ...types.error_response import ErrorResponse
from .types.batches_list_request_analysis_mode_item import BatchesListRequestAnalysisModeItem
from .types.batches_list_response import BatchesListResponse
from .types.create_analyze_batch_request_analysis_mode import CreateAnalyzeBatchRequestAnalysisMode
from .types.create_analyze_batch_request_model_name import CreateAnalyzeBatchRequestModelName

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class RawBatchesClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._client_wrapper = client_wrapper

    def list(
        self,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        status: typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]] = None,
        analysis_mode: typing.Optional[
            typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[AnalyzeBatchStatusResponse]:
        """
        Use this method to list all the batch objects in your account. The response sorts batches by creation date, with the newest batch first.

        Parameters
        ----------
        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        status : typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]]
            Filter batches by status. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `status` parameter:
            ```
            status=processing&status=canceling
            ```
            If you omit this parameter, the response includes batches in all statuses.

        analysis_mode : typing.Optional[typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]]
            Filter batches by analysis mode. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `analysis_mode` parameter:
            ```
            analysis_mode=general&analysis_mode=time_based_metadata
            ```
            If you omit this parameter, the response includes batches in all analysis modes.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[AnalyzeBatchStatusResponse]
            A list of batch objects.
        """
        page = page if page is not None else 1

        _response = self._client_wrapper.httpx_client.request(
            "analyze/batches",
            method="GET",
            params={
                "page": page,
                "page_limit": page_limit,
                "status": status,
                "analysis_mode": analysis_mode,
            },
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _parsed_response = typing.cast(
                    BatchesListResponse,
                    parse_obj_as(
                        type_=BatchesListResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                _items = _parsed_response.data
                _has_next = True
                _get_next = lambda: self.list(
                    page=page + 1,
                    page_limit=page_limit,
                    status=status,
                    analysis_mode=analysis_mode,
                    request_options=request_options,
                )
                return SyncPager(
                    has_next=_has_next, items=_items, get_next=_get_next, response=BaseHttpResponse(response=_response)
                )
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    def create(
        self,
        *,
        model_name: CreateAnalyzeBatchRequestModelName,
        analysis_mode: CreateAnalyzeBatchRequestAnalysisMode,
        requests: typing.Sequence[BatchItemRequest],
        defaults: typing.Optional[BatchDefaults] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> HttpResponse[CreateAnalyzeBatchResponse]:
        """
        Use this method to submit many video analysis requests in a single call. Each request creates an analysis task. The response contains one batch identifier and one task identifier per request. Use the batch identifier to check progress and retrieve results.

        <Note title="Model requirement">
        You must use Pegasus 1.5 for batch analysis. Set the `model_name` parameter to `pegasus1.5`.
        </Note>

        **When to use this method**:
        - Run the same model and analysis settings across many videos.
        - Track a single batch instead of many individual analysis tasks.

        **Do not use this method for**:
        - Single videos that require immediate results. Use the [`POST`](/v1.3/api-reference/analyze-videos/sync-analysis) method of the `/analyze` endpoint instead.
        - Background processing of a single video. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

        **Retention and retry**:
        - Batches expire 24 hours after creation. You can retrieve results for 30 days after creation.
        - If processing does not finish for some items in time, resubmit them in a new batch.

        **Limits**:
        - Up to 1,000 requests per batch.
        - Up to 2,000 total content hours per batch.
        - Up to 5 active batches per account.

        Parameters
        ----------
        model_name : CreateAnalyzeBatchRequestModelName
            The video understanding model to use for every item in this batch. Batch analysis requires Pegasus 1.5.

        analysis_mode : CreateAnalyzeBatchRequestAnalysisMode
            The analysis approach for every item in this batch.
            - `general`: Generate text from each video based on the prompt (the item's `prompt` field if set, otherwise `defaults.prompt`). Supports structured JSON output by using `json_schema` in the `response_format.type` field.
            - `time_based_metadata`: Extract timestamped metadata by using `segment_definitions` in the `response_format.type` field.

            Batches with mixed modes are not supported.

        requests : typing.Sequence[BatchItemRequest]
            The analysis requests in the batch. Provide 1 to 1,000 requests, with a combined video duration of up to 2,000 hours.

        defaults : typing.Optional[BatchDefaults]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[CreateAnalyzeBatchResponse]
            The platform has created the batch and queued an analysis task for each request.
        """
        _response = self._client_wrapper.httpx_client.request(
            "analyze/batches",
            method="POST",
            json={
                "model_name": model_name,
                "analysis_mode": analysis_mode,
                "defaults": convert_and_respect_annotation_metadata(
                    object_=defaults, annotation=BatchDefaults, direction="write"
                ),
                "requests": convert_and_respect_annotation_metadata(
                    object_=requests, annotation=typing.Sequence[BatchItemRequest], direction="write"
                ),
            },
            headers={
                "content-type": "application/json",
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    CreateAnalyzeBatchResponse,
                    parse_obj_as(
                        type_=CreateAnalyzeBatchResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 409:
                raise ConflictError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 429:
                raise TooManyRequestsError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 503:
                raise ServiceUnavailableError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        ErrorResponse,
                        parse_obj_as(
                            type_=ErrorResponse,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 504:
                raise GatewayTimeoutError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        ErrorResponse,
                        parse_obj_as(
                            type_=ErrorResponse,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    def retrieve(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> HttpResponse[AnalyzeBatchStatusResponse]:
        """
        Use this method to monitor a batch. The response includes the current batch status and counts for queued, processing, ready, failed, and canceled items.

        Poll this method until the batch reaches the `completed`, `canceled`, or `expired` status. To retrieve the results, call the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-results) method of the `/analyze/batches/{batch_id}/results` endpoint.

        Do not treat the `completed` status as a success signal. It means processing has finished for every item, not that every analysis succeeded. To see how many items succeeded, failed, or were canceled, check the `ready_items`, `failed_items`, and `canceled_items` fields. A batch never has the `failed` status.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[AnalyzeBatchStatusResponse]
            Batch status retrieved successfully. The response includes batch details and item counts for each item status.
        """
        _response = self._client_wrapper.httpx_client.request(
            f"analyze/batches/{jsonable_encoder(batch_id)}",
            method="GET",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    AnalyzeBatchStatusResponse,
                    parse_obj_as(
                        type_=AnalyzeBatchStatusResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    def delete(self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> HttpResponse[None]:
        """
        Use this method to delete a batch and all the tasks associated with it. You can only delete batches with status `completed`, `canceled`, or `expired`.

        Deleting a batch does not affect billing. You are billed for every completed analysis regardless of whether you delete the batch afterward.

        To stop a batch with the `pending` or `processing` status, use the [`POST`](/v1.3/api-reference/analyze-videos/batch-analysis/cancel-batch) method of the `/analyze/batches/{batch_id}/cancel` endpoint.

        Batches are deleted 30 days after creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[None]
        """
        _response = self._client_wrapper.httpx_client.request(
            f"analyze/batches/{jsonable_encoder(batch_id)}",
            method="DELETE",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                return HttpResponse(response=_response, data=None)
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 409:
                raise ConflictError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    @contextlib.contextmanager
    def results(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.Iterator[HttpResponse[typing.Iterator[BatchResultItem]]]:
        """
        Use this method to retrieve the results for each item in a batch. You can call it while the batch has the `pending` or `processing` status.

        Each result entry has a status. For details on each status, see the [Item statuses](/v1.3/api-reference/analyze-videos/batch-analysis/the-batch-object#item-statuses) section on the **The batch object** page.

        Each result entry includes a task identifier in the `task_id` field. Use this value with the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint if you need the full analysis task response.

        You can retrieve results for 30 days after batch creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.Iterator[HttpResponse[typing.Iterator[BatchResultItem]]]
            The response is a JSON Lines (`application/jsonl`) stream. Each line is a JSON object containing one result entry for a batch item.

            Example body with four result entries:

            ```jsonl
            {"task_id":"68f4ddaf8aaa60d33df0e900","custom_id":"summary-001","status":"ready","data":{"generation_id":"gen_xyz789","data":"This video covers the keynote launch...","finish_reason":"stop","usage":{"output_tokens":150,"input_tokens":45}}}
            {"task_id":"68f4ddaf8aaa60d33df0e901","custom_id":"summary-002","status":"failed","error":{"code":"asset_unavailable","message":"The asset could not be read."}}
            {"task_id":"68f4ddaf8aaa60d33df0e902","custom_id":"summary-003","status":"processing"}
            {"task_id":"68f4ddaf8aaa60d33df0e903","custom_id":"summary-004","status":"queued"}
            ```
        """
        with self._client_wrapper.httpx_client.stream(
            f"analyze/batches/{jsonable_encoder(batch_id)}/results",
            method="GET",
            request_options=request_options,
        ) as _response:

            def _stream() -> HttpResponse[typing.Iterator[BatchResultItem]]:
                try:
                    if 200 <= _response.status_code < 300:

                        def _iter():
                            for _text in _response.iter_lines():
                                try:
                                    if len(_text) == 0:
                                        continue
                                    yield typing.cast(
                                        BatchResultItem,
                                        parse_obj_as(
                                            type_=BatchResultItem,  # type: ignore
                                            object_=json.loads(_text),
                                        ),
                                    )
                                except Exception:
                                    pass
                            return

                        return HttpResponse(response=_response, data=_iter())
                    _response.read()
                    if _response.status_code == 404:
                        raise NotFoundError(
                            headers=dict(_response.headers),
                            body=typing.cast(
                                typing.Optional[typing.Any],
                                parse_obj_as(
                                    type_=typing.Optional[typing.Any],  # type: ignore
                                    object_=_response.json(),
                                ),
                            ),
                        )
                    _response_json = _response.json()
                except JSONDecodeError:
                    raise ApiError(
                        status_code=_response.status_code, headers=dict(_response.headers), body=_response.text
                    )
                raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

            yield _stream()

    def cancel(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> HttpResponse[AnalyzeBatchStatusResponse]:
        """
        Use this method to request cancellation for a batch with the `pending` or `processing` status.

        When you invoke this method, the platform performs the following steps:
        - Cancels the items in the `queued` status.
        - Finishes the analysis for the items in the `processing` status.

        The batch status changes to `canceling` immediately, and to `canceled` after every item reaches `ready`, `failed`, or `canceled`. You are not billed for canceled or failed items.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        HttpResponse[AnalyzeBatchStatusResponse]
            The platform accepted the cancellation request. Items already in the `processing` status continue until processing finishes. The batch status is `canceling` until every item reaches `ready`, `failed`, or `canceled`, then becomes `canceled`. The response shows the batch state at the time of the request. To confirm the batch is fully canceled, use the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-status) method of the `/analyze/batches/{batch_id}` endpoint.
        """
        _response = self._client_wrapper.httpx_client.request(
            f"analyze/batches/{jsonable_encoder(batch_id)}/cancel",
            method="POST",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    AnalyzeBatchStatusResponse,
                    parse_obj_as(
                        type_=AnalyzeBatchStatusResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return HttpResponse(response=_response, data=_data)
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 409:
                raise ConflictError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)


class AsyncRawBatchesClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._client_wrapper = client_wrapper

    async def list(
        self,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        status: typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]] = None,
        analysis_mode: typing.Optional[
            typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[AnalyzeBatchStatusResponse]:
        """
        Use this method to list all the batch objects in your account. The response sorts batches by creation date, with the newest batch first.

        Parameters
        ----------
        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        status : typing.Optional[typing.Union[BatchStatus, typing.Sequence[BatchStatus]]]
            Filter batches by status. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `status` parameter:
            ```
            status=processing&status=canceling
            ```
            If you omit this parameter, the response includes batches in all statuses.

        analysis_mode : typing.Optional[typing.Union[BatchesListRequestAnalysisModeItem, typing.Sequence[BatchesListRequestAnalysisModeItem]]]
            Filter batches by analysis mode. Provide one or more values to include batches matching any of them. To send multiple values, repeat the `analysis_mode` parameter:
            ```
            analysis_mode=general&analysis_mode=time_based_metadata
            ```
            If you omit this parameter, the response includes batches in all analysis modes.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[AnalyzeBatchStatusResponse]
            A list of batch objects.
        """
        page = page if page is not None else 1

        _response = await self._client_wrapper.httpx_client.request(
            "analyze/batches",
            method="GET",
            params={
                "page": page,
                "page_limit": page_limit,
                "status": status,
                "analysis_mode": analysis_mode,
            },
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _parsed_response = typing.cast(
                    BatchesListResponse,
                    parse_obj_as(
                        type_=BatchesListResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                _items = _parsed_response.data
                _has_next = True

                async def _get_next():
                    return await self.list(
                        page=page + 1,
                        page_limit=page_limit,
                        status=status,
                        analysis_mode=analysis_mode,
                        request_options=request_options,
                    )

                return AsyncPager(
                    has_next=_has_next, items=_items, get_next=_get_next, response=BaseHttpResponse(response=_response)
                )
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    async def create(
        self,
        *,
        model_name: CreateAnalyzeBatchRequestModelName,
        analysis_mode: CreateAnalyzeBatchRequestAnalysisMode,
        requests: typing.Sequence[BatchItemRequest],
        defaults: typing.Optional[BatchDefaults] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncHttpResponse[CreateAnalyzeBatchResponse]:
        """
        Use this method to submit many video analysis requests in a single call. Each request creates an analysis task. The response contains one batch identifier and one task identifier per request. Use the batch identifier to check progress and retrieve results.

        <Note title="Model requirement">
        You must use Pegasus 1.5 for batch analysis. Set the `model_name` parameter to `pegasus1.5`.
        </Note>

        **When to use this method**:
        - Run the same model and analysis settings across many videos.
        - Track a single batch instead of many individual analysis tasks.

        **Do not use this method for**:
        - Single videos that require immediate results. Use the [`POST`](/v1.3/api-reference/analyze-videos/sync-analysis) method of the `/analyze` endpoint instead.
        - Background processing of a single video. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

        **Retention and retry**:
        - Batches expire 24 hours after creation. You can retrieve results for 30 days after creation.
        - If processing does not finish for some items in time, resubmit them in a new batch.

        **Limits**:
        - Up to 1,000 requests per batch.
        - Up to 2,000 total content hours per batch.
        - Up to 5 active batches per account.

        Parameters
        ----------
        model_name : CreateAnalyzeBatchRequestModelName
            The video understanding model to use for every item in this batch. Batch analysis requires Pegasus 1.5.

        analysis_mode : CreateAnalyzeBatchRequestAnalysisMode
            The analysis approach for every item in this batch.
            - `general`: Generate text from each video based on the prompt (the item's `prompt` field if set, otherwise `defaults.prompt`). Supports structured JSON output by using `json_schema` in the `response_format.type` field.
            - `time_based_metadata`: Extract timestamped metadata by using `segment_definitions` in the `response_format.type` field.

            Batches with mixed modes are not supported.

        requests : typing.Sequence[BatchItemRequest]
            The analysis requests in the batch. Provide 1 to 1,000 requests, with a combined video duration of up to 2,000 hours.

        defaults : typing.Optional[BatchDefaults]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[CreateAnalyzeBatchResponse]
            The platform has created the batch and queued an analysis task for each request.
        """
        _response = await self._client_wrapper.httpx_client.request(
            "analyze/batches",
            method="POST",
            json={
                "model_name": model_name,
                "analysis_mode": analysis_mode,
                "defaults": convert_and_respect_annotation_metadata(
                    object_=defaults, annotation=BatchDefaults, direction="write"
                ),
                "requests": convert_and_respect_annotation_metadata(
                    object_=requests, annotation=typing.Sequence[BatchItemRequest], direction="write"
                ),
            },
            headers={
                "content-type": "application/json",
            },
            request_options=request_options,
            omit=OMIT,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    CreateAnalyzeBatchResponse,
                    parse_obj_as(
                        type_=CreateAnalyzeBatchResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            if _response.status_code == 400:
                raise BadRequestError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 409:
                raise ConflictError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 429:
                raise TooManyRequestsError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 503:
                raise ServiceUnavailableError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        ErrorResponse,
                        parse_obj_as(
                            type_=ErrorResponse,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 504:
                raise GatewayTimeoutError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        ErrorResponse,
                        parse_obj_as(
                            type_=ErrorResponse,  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    async def retrieve(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AsyncHttpResponse[AnalyzeBatchStatusResponse]:
        """
        Use this method to monitor a batch. The response includes the current batch status and counts for queued, processing, ready, failed, and canceled items.

        Poll this method until the batch reaches the `completed`, `canceled`, or `expired` status. To retrieve the results, call the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-results) method of the `/analyze/batches/{batch_id}/results` endpoint.

        Do not treat the `completed` status as a success signal. It means processing has finished for every item, not that every analysis succeeded. To see how many items succeeded, failed, or were canceled, check the `ready_items`, `failed_items`, and `canceled_items` fields. A batch never has the `failed` status.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[AnalyzeBatchStatusResponse]
            Batch status retrieved successfully. The response includes batch details and item counts for each item status.
        """
        _response = await self._client_wrapper.httpx_client.request(
            f"analyze/batches/{jsonable_encoder(batch_id)}",
            method="GET",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    AnalyzeBatchStatusResponse,
                    parse_obj_as(
                        type_=AnalyzeBatchStatusResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    async def delete(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AsyncHttpResponse[None]:
        """
        Use this method to delete a batch and all the tasks associated with it. You can only delete batches with status `completed`, `canceled`, or `expired`.

        Deleting a batch does not affect billing. You are billed for every completed analysis regardless of whether you delete the batch afterward.

        To stop a batch with the `pending` or `processing` status, use the [`POST`](/v1.3/api-reference/analyze-videos/batch-analysis/cancel-batch) method of the `/analyze/batches/{batch_id}/cancel` endpoint.

        Batches are deleted 30 days after creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[None]
        """
        _response = await self._client_wrapper.httpx_client.request(
            f"analyze/batches/{jsonable_encoder(batch_id)}",
            method="DELETE",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                return AsyncHttpResponse(response=_response, data=None)
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 409:
                raise ConflictError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

    @contextlib.asynccontextmanager
    async def results(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> typing.AsyncIterator[AsyncHttpResponse[typing.AsyncIterator[BatchResultItem]]]:
        """
        Use this method to retrieve the results for each item in a batch. You can call it while the batch has the `pending` or `processing` status.

        Each result entry has a status. For details on each status, see the [Item statuses](/v1.3/api-reference/analyze-videos/batch-analysis/the-batch-object#item-statuses) section on the **The batch object** page.

        Each result entry includes a task identifier in the `task_id` field. Use this value with the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint if you need the full analysis task response.

        You can retrieve results for 30 days after batch creation.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.AsyncIterator[AsyncHttpResponse[typing.AsyncIterator[BatchResultItem]]]
            The response is a JSON Lines (`application/jsonl`) stream. Each line is a JSON object containing one result entry for a batch item.

            Example body with four result entries:

            ```jsonl
            {"task_id":"68f4ddaf8aaa60d33df0e900","custom_id":"summary-001","status":"ready","data":{"generation_id":"gen_xyz789","data":"This video covers the keynote launch...","finish_reason":"stop","usage":{"output_tokens":150,"input_tokens":45}}}
            {"task_id":"68f4ddaf8aaa60d33df0e901","custom_id":"summary-002","status":"failed","error":{"code":"asset_unavailable","message":"The asset could not be read."}}
            {"task_id":"68f4ddaf8aaa60d33df0e902","custom_id":"summary-003","status":"processing"}
            {"task_id":"68f4ddaf8aaa60d33df0e903","custom_id":"summary-004","status":"queued"}
            ```
        """
        async with self._client_wrapper.httpx_client.stream(
            f"analyze/batches/{jsonable_encoder(batch_id)}/results",
            method="GET",
            request_options=request_options,
        ) as _response:

            async def _stream() -> AsyncHttpResponse[typing.AsyncIterator[BatchResultItem]]:
                try:
                    if 200 <= _response.status_code < 300:

                        async def _iter():
                            async for _text in _response.aiter_lines():
                                try:
                                    if len(_text) == 0:
                                        continue
                                    yield typing.cast(
                                        BatchResultItem,
                                        parse_obj_as(
                                            type_=BatchResultItem,  # type: ignore
                                            object_=json.loads(_text),
                                        ),
                                    )
                                except Exception:
                                    pass
                            return

                        return AsyncHttpResponse(response=_response, data=_iter())
                    await _response.aread()
                    if _response.status_code == 404:
                        raise NotFoundError(
                            headers=dict(_response.headers),
                            body=typing.cast(
                                typing.Optional[typing.Any],
                                parse_obj_as(
                                    type_=typing.Optional[typing.Any],  # type: ignore
                                    object_=_response.json(),
                                ),
                            ),
                        )
                    _response_json = _response.json()
                except JSONDecodeError:
                    raise ApiError(
                        status_code=_response.status_code, headers=dict(_response.headers), body=_response.text
                    )
                raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)

            yield await _stream()

    async def cancel(
        self, batch_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AsyncHttpResponse[AnalyzeBatchStatusResponse]:
        """
        Use this method to request cancellation for a batch with the `pending` or `processing` status.

        When you invoke this method, the platform performs the following steps:
        - Cancels the items in the `queued` status.
        - Finishes the analysis for the items in the `processing` status.

        The batch status changes to `canceling` immediately, and to `canceled` after every item reaches `ready`, `failed`, or `canceled`. You are not billed for canceled or failed items.

        Parameters
        ----------
        batch_id : str
            The unique identifier of the batch.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncHttpResponse[AnalyzeBatchStatusResponse]
            The platform accepted the cancellation request. Items already in the `processing` status continue until processing finishes. The batch status is `canceling` until every item reaches `ready`, `failed`, or `canceled`, then becomes `canceled`. The response shows the batch state at the time of the request. To confirm the batch is fully canceled, use the [`GET`](/v1.3/api-reference/analyze-videos/batch-analysis/retrieve-batch-status) method of the `/analyze/batches/{batch_id}` endpoint.
        """
        _response = await self._client_wrapper.httpx_client.request(
            f"analyze/batches/{jsonable_encoder(batch_id)}/cancel",
            method="POST",
            request_options=request_options,
        )
        try:
            if 200 <= _response.status_code < 300:
                _data = typing.cast(
                    AnalyzeBatchStatusResponse,
                    parse_obj_as(
                        type_=AnalyzeBatchStatusResponse,  # type: ignore
                        object_=_response.json(),
                    ),
                )
                return AsyncHttpResponse(response=_response, data=_data)
            if _response.status_code == 404:
                raise NotFoundError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            if _response.status_code == 409:
                raise ConflictError(
                    headers=dict(_response.headers),
                    body=typing.cast(
                        typing.Optional[typing.Any],
                        parse_obj_as(
                            type_=typing.Optional[typing.Any],  # type: ignore
                            object_=_response.json(),
                        ),
                    ),
                )
            _response_json = _response.json()
        except JSONDecodeError:
            raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response.text)
        raise ApiError(status_code=_response.status_code, headers=dict(_response.headers), body=_response_json)
