# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.request_options import RequestOptions
from ...types.analyze_prompt_v_2 import AnalyzePromptV2
from ...types.analyze_task_response import AnalyzeTaskResponse
from ...types.analyze_task_status import AnalyzeTaskStatus
from ...types.analyze_temperature import AnalyzeTemperature
from ...types.async_response_format import AsyncResponseFormat
from ...types.create_analyze_task_response import CreateAnalyzeTaskResponse
from ...types.video_context import VideoContext
from .raw_client import AsyncRawTasksClient, RawTasksClient
from .types.create_async_analyze_request_analysis_mode import CreateAsyncAnalyzeRequestAnalysisMode
from .types.create_async_analyze_request_model_name import CreateAsyncAnalyzeRequestModelName
from .types.tasks_list_request_analysis_mode import TasksListRequestAnalysisMode
from .types.tasks_list_response import TasksListResponse

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class TasksClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawTasksClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawTasksClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawTasksClient
        """
        return self._raw_client

    def list(
        self,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        status: typing.Optional[AnalyzeTaskStatus] = None,
        video_url: typing.Optional[str] = None,
        asset_id: typing.Optional[str] = None,
        video_id: typing.Optional[str] = None,
        analysis_mode: typing.Optional[TasksListRequestAnalysisMode] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> TasksListResponse:
        """
        This method returns a list of the analysis tasks in your account. The platform returns your analysis tasks sorted by creation date, with the newest at the top of the list.

        Parameters
        ----------
        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        status : typing.Optional[AnalyzeTaskStatus]
            Filter analysis tasks by status.
            Possible values: `queued`, `pending`, `processing`, `ready`, `failed`.

        video_url : typing.Optional[str]
            Filter tasks by exact video source URL.

        asset_id : typing.Optional[str]
            Filter tasks by asset ID.

        video_id : typing.Optional[str]
            Filter tasks by video ID for pre-indexed videos (Pegasus 1.2 only). Deprecated — use `asset_id` instead.

        analysis_mode : typing.Optional[TasksListRequestAnalysisMode]
            Filter tasks by the analysis mode used when creating the task.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        TasksListResponse
            A list of analysis tasks.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.tasks.list(
            page=1,
            page_limit=10,
            status="queued",
            video_url="https://example.com/video.mp4",
            asset_id="69abc123def456789012abcd",
            video_id="6298d673f1090f1100476d4c",
            analysis_mode="general",
        )
        """
        _response = self._raw_client.list(
            page=page,
            page_limit=page_limit,
            status=status,
            video_url=video_url,
            asset_id=asset_id,
            video_id=video_id,
            analysis_mode=analysis_mode,
            request_options=request_options,
        )
        return _response.data

    def create(
        self,
        *,
        video: VideoContext,
        model_name: typing.Optional[CreateAsyncAnalyzeRequestModelName] = OMIT,
        custom_id: typing.Optional[str] = OMIT,
        prompt: typing.Optional[str] = OMIT,
        prompt_v_2: typing.Optional[AnalyzePromptV2] = OMIT,
        analysis_mode: typing.Optional[CreateAsyncAnalyzeRequestAnalysisMode] = OMIT,
        temperature: typing.Optional[AnalyzeTemperature] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        response_format: typing.Optional[AsyncResponseFormat] = OMIT,
        min_segment_duration: typing.Optional[float] = OMIT,
        max_segment_duration: typing.Optional[float] = OMIT,
        start_time: typing.Optional[float] = OMIT,
        end_time: typing.Optional[float] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateAnalyzeTaskResponse:
        """
        This method asynchronously analyzes your videos. It supports two analysis modes: general analysis (prompt-based text generation) and video segmentation with custom segment definitions. Video segmentation requires Pegasus 1.5.

        <Accordion title="Input requirements">
        - Minimum duration: 4 seconds
        - Maximum duration: 2 hours
        - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
        - Resolution: 360x360 to 5184x2160 pixels
        - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
        </Accordion>

        **When to use this method**:
        - Generate custom text from your video using a prompt (general analysis)
        - Extract timestamped metadata with custom segment definitions from your video (Pegasus 1.5 only)
        - Analyze videos longer than 1 hour
        - Process videos asynchronously without blocking your application

        **Do not use this method for**:
        - Videos for which you need immediate results or real-time streaming. Use the [`POST`](/v1.3/api-reference/analyze-videos/sync-analysis) method of the `/analyze` endpoint instead.

        Analyzing videos asynchronously requires three steps:

        1. Create an analysis task using this method. The platform returns a task ID.
        2. Poll the status of the task using the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint. Wait until the status is `ready`.
        3. Retrieve the results from the response when the status is `ready` using the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint.

        <Note title="Note">
        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
        </Note>

        Parameters
        ----------
        video : VideoContext

        model_name : typing.Optional[CreateAsyncAnalyzeRequestModelName]
            The video understanding model to use for analysis.
            - `pegasus1.2`: General analysis (prompt-based text generation).
            - `pegasus1.5`: General analysis (prompt-based text generation) with video clipping, structured prompts with reference images, and video segmentation. See the [Pegasus](/v1.3/docs/concepts/models/pegasus#context-window) page for token limits.

            **Default:** `pegasus1.2`

        custom_id : typing.Optional[str]
            An optional identifier that you set when you create the task. Use this field to correlate tasks across responses, for example, to distinguish tasks by type or environment.

            The platform stores this value unchanged and returns it in the following responses:
            - The [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint
            - The [`GET`](/v1.3/api-reference/analyze-videos/list-async-analysis-tasks) method of the `/analyze/tasks` endpoint
            - The `analyze.task.ready` and `analyze.task.failed` webhook payloads

            **Format**: 1–64 characters. Alphanumeric, hyphens (`-`), and underscores (`_`) only. An empty string is rejected with a `400 Bad Request`.

            This field does not enforce uniqueness. You can submit multiple tasks with the same `custom_id`. To prevent duplicate task creation, use an `Idempotency-Key` header instead.

        prompt : typing.Optional[str]
            Natural-language instructions for analyzing the video. Required for general analysis (prompt-based text generation). Not supported when `analysis_mode` is `time_based_metadata`. To include reference images in your prompt, use the `prompt_v2` parameter instead (Pegasus 1.5 only). Mutually exclusive with the `prompt_v2` parameter.

            Your prompts can be instructive or descriptive, or you can phrase them as questions. Pegasus 1.2 limits prompts to 2,000 tokens. For Pegasus 1.5, this text counts toward the [context window](/v1.3/docs/concepts/models/pegasus#context-window).

            **Examples**:

            - Based on this video, I want to generate five keywords for SEO (Search Engine Optimization).
            - I want to generate a description for my video with the following format: Title of the video, followed by a summary in 2-3 sentences, highlighting the main topic, key events, and concluding remarks.

        prompt_v_2 : typing.Optional[AnalyzePromptV2]
            A structured prompt with `<@name>` placeholders for referencing images. Requires the `model_name` parameter set to `pegasus1.5`. Mutually exclusive with the `prompt` parameter.

            The prompt text and reference images count toward the [context window](/v1.3/docs/concepts/models/pegasus#context-window).

        analysis_mode : typing.Optional[CreateAsyncAnalyzeRequestAnalysisMode]
            The analysis approach for this task.
            - `general`: Analyze the video and generate a response based on your prompt. Supports both free-form text and structured output via `response_format`.
            - `time_based_metadata`: Segment the video into time-based intervals and extract custom metadata for each segment. Requires `model_name` set to `pegasus1.5` and `response_format.type` set to `segment_definitions`.

            **Default:** `general`

        temperature : typing.Optional[AnalyzeTemperature]

        max_tokens : typing.Optional[int]
            The maximum response length, in tokens. The allowed range depends on the model and analysis mode:

            | Model | Mode | Min | Max | Default |
            |-------|------|-----|-----|---------|
            | Pegasus 1.2 | — | 1 | 4,096 | 4096 |
            | Pegasus 1.5 | `general` | 512 | 98,304 | 4,096 |
            | Pegasus 1.5 | `time_based_metadata` | 2,048 | 98,304 | 32,768 |

        response_format : typing.Optional[AsyncResponseFormat]

        min_segment_duration : typing.Optional[float]
            Minimum duration for each extracted segment, in seconds. Set this value to enforce a minimum segment length. Requires `model_name` set to `pegasus1.5` and `analysis_mode` set to `time_based_metadata`. Mutually exclusive with `response_format.segment_definitions[].time_ranges`.

            **Min:** 2

        max_segment_duration : typing.Optional[float]
            Maximum duration for each extracted segment, in seconds. Set this value to split long continuous sections into shorter segments. Must be greater than or equal to `min_segment_duration`. Requires `model_name` set to `pegasus1.5` and `analysis_mode` set to `time_based_metadata`. Mutually exclusive with `response_format.segment_definitions[].time_ranges`.

            **Min:** 2

        start_time : typing.Optional[float]
            Start of the analysis window, in seconds. Use with `end_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to `0`.
            - Must be less than `end_time` and less than the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            - Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
            - Together with `end_time`, this parameter determines the billable video duration. If you omit both, billing uses the full video duration. For details, see the [Frequently asked questions](/v1.3/docs/resources/frequently-asked-questions#how-is-video-segmentation-priced) page.
            </Note>

        end_time : typing.Optional[float]
            End of the analysis window, in seconds. Use with `start_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to the video duration.
            - Must be greater than `start_time` and less than or equal to the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            - Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
            - Together with `start_time`, this parameter determines the billable video duration. If you omit both, billing uses the full video duration. For details, see the [Frequently asked questions](/v1.3/docs/resources/frequently-asked-questions#how-is-video-segmentation-priced) page.
            </Note>

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateAnalyzeTaskResponse
            Analysis task created successfully.

        Examples
        --------
        from twelvelabs import TwelveLabs, VideoContext_Url

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.tasks.create(
            custom_id="prod-segment-analysis-42",
            video=VideoContext_Url(
                url="https://example.com/video.mp4",
            ),
            prompt="Generate a detailed summary of this video in 3-4 sentences",
            temperature=0.2,
            max_tokens=1000,
        )
        """
        _response = self._raw_client.create(
            video=video,
            model_name=model_name,
            custom_id=custom_id,
            prompt=prompt,
            prompt_v_2=prompt_v_2,
            analysis_mode=analysis_mode,
            temperature=temperature,
            max_tokens=max_tokens,
            response_format=response_format,
            min_segment_duration=min_segment_duration,
            max_segment_duration=max_segment_duration,
            start_time=start_time,
            end_time=end_time,
            request_options=request_options,
        )
        return _response.data

    def retrieve(self, task_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> AnalyzeTaskResponse:
        """
        This method retrieves the status and results of an analysis task.

        **Task statuses**:
        - `queued`: The task is waiting to be processed.
        - `pending`: The task is queued and waiting to start.
        - `processing`: The platform is analyzing the video.
        - `ready`: Processing is complete. Results are available in the response.
        - `failed`: The task failed. No results were generated.

        Poll this method until `status` is `ready` or `failed`. When `status` is `ready`, use the results from the response.

        Parameters
        ----------
        task_id : str
            The unique identifier of the analysis task.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AnalyzeTaskResponse
            Task status and results retrieved successfully

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.tasks.retrieve(
            task_id="64f8d2c7e4a1b37f8a9c5d12",
        )
        """
        _response = self._raw_client.retrieve(task_id, request_options=request_options)
        return _response.data

    def delete(self, task_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        This method deletes an analysis task. You can only delete tasks that are not currently being processed.

        Parameters
        ----------
        task_id : str
            The unique identifier of the analyze task.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze_async.tasks.delete(
            task_id="64f8d2c7e4a1b37f8a9c5d12",
        )
        """
        _response = self._raw_client.delete(task_id, request_options=request_options)
        return _response.data


class AsyncTasksClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawTasksClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawTasksClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawTasksClient
        """
        return self._raw_client

    async def list(
        self,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        status: typing.Optional[AnalyzeTaskStatus] = None,
        video_url: typing.Optional[str] = None,
        asset_id: typing.Optional[str] = None,
        video_id: typing.Optional[str] = None,
        analysis_mode: typing.Optional[TasksListRequestAnalysisMode] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> TasksListResponse:
        """
        This method returns a list of the analysis tasks in your account. The platform returns your analysis tasks sorted by creation date, with the newest at the top of the list.

        Parameters
        ----------
        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        status : typing.Optional[AnalyzeTaskStatus]
            Filter analysis tasks by status.
            Possible values: `queued`, `pending`, `processing`, `ready`, `failed`.

        video_url : typing.Optional[str]
            Filter tasks by exact video source URL.

        asset_id : typing.Optional[str]
            Filter tasks by asset ID.

        video_id : typing.Optional[str]
            Filter tasks by video ID for pre-indexed videos (Pegasus 1.2 only). Deprecated — use `asset_id` instead.

        analysis_mode : typing.Optional[TasksListRequestAnalysisMode]
            Filter tasks by the analysis mode used when creating the task.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        TasksListResponse
            A list of analysis tasks.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.tasks.list(
                page=1,
                page_limit=10,
                status="queued",
                video_url="https://example.com/video.mp4",
                asset_id="69abc123def456789012abcd",
                video_id="6298d673f1090f1100476d4c",
                analysis_mode="general",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.list(
            page=page,
            page_limit=page_limit,
            status=status,
            video_url=video_url,
            asset_id=asset_id,
            video_id=video_id,
            analysis_mode=analysis_mode,
            request_options=request_options,
        )
        return _response.data

    async def create(
        self,
        *,
        video: VideoContext,
        model_name: typing.Optional[CreateAsyncAnalyzeRequestModelName] = OMIT,
        custom_id: typing.Optional[str] = OMIT,
        prompt: typing.Optional[str] = OMIT,
        prompt_v_2: typing.Optional[AnalyzePromptV2] = OMIT,
        analysis_mode: typing.Optional[CreateAsyncAnalyzeRequestAnalysisMode] = OMIT,
        temperature: typing.Optional[AnalyzeTemperature] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        response_format: typing.Optional[AsyncResponseFormat] = OMIT,
        min_segment_duration: typing.Optional[float] = OMIT,
        max_segment_duration: typing.Optional[float] = OMIT,
        start_time: typing.Optional[float] = OMIT,
        end_time: typing.Optional[float] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> CreateAnalyzeTaskResponse:
        """
        This method asynchronously analyzes your videos. It supports two analysis modes: general analysis (prompt-based text generation) and video segmentation with custom segment definitions. Video segmentation requires Pegasus 1.5.

        <Accordion title="Input requirements">
        - Minimum duration: 4 seconds
        - Maximum duration: 2 hours
        - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
        - Resolution: 360x360 to 5184x2160 pixels
        - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
        </Accordion>

        **When to use this method**:
        - Generate custom text from your video using a prompt (general analysis)
        - Extract timestamped metadata with custom segment definitions from your video (Pegasus 1.5 only)
        - Analyze videos longer than 1 hour
        - Process videos asynchronously without blocking your application

        **Do not use this method for**:
        - Videos for which you need immediate results or real-time streaming. Use the [`POST`](/v1.3/api-reference/analyze-videos/sync-analysis) method of the `/analyze` endpoint instead.

        Analyzing videos asynchronously requires three steps:

        1. Create an analysis task using this method. The platform returns a task ID.
        2. Poll the status of the task using the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint. Wait until the status is `ready`.
        3. Retrieve the results from the response when the status is `ready` using the [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint.

        <Note title="Note">
        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
        </Note>

        Parameters
        ----------
        video : VideoContext

        model_name : typing.Optional[CreateAsyncAnalyzeRequestModelName]
            The video understanding model to use for analysis.
            - `pegasus1.2`: General analysis (prompt-based text generation).
            - `pegasus1.5`: General analysis (prompt-based text generation) with video clipping, structured prompts with reference images, and video segmentation. See the [Pegasus](/v1.3/docs/concepts/models/pegasus#context-window) page for token limits.

            **Default:** `pegasus1.2`

        custom_id : typing.Optional[str]
            An optional identifier that you set when you create the task. Use this field to correlate tasks across responses, for example, to distinguish tasks by type or environment.

            The platform stores this value unchanged and returns it in the following responses:
            - The [`GET`](/v1.3/api-reference/analyze-videos/retrieve-analysis-task-status-results) method of the `/analyze/tasks/{task_id}` endpoint
            - The [`GET`](/v1.3/api-reference/analyze-videos/list-async-analysis-tasks) method of the `/analyze/tasks` endpoint
            - The `analyze.task.ready` and `analyze.task.failed` webhook payloads

            **Format**: 1–64 characters. Alphanumeric, hyphens (`-`), and underscores (`_`) only. An empty string is rejected with a `400 Bad Request`.

            This field does not enforce uniqueness. You can submit multiple tasks with the same `custom_id`. To prevent duplicate task creation, use an `Idempotency-Key` header instead.

        prompt : typing.Optional[str]
            Natural-language instructions for analyzing the video. Required for general analysis (prompt-based text generation). Not supported when `analysis_mode` is `time_based_metadata`. To include reference images in your prompt, use the `prompt_v2` parameter instead (Pegasus 1.5 only). Mutually exclusive with the `prompt_v2` parameter.

            Your prompts can be instructive or descriptive, or you can phrase them as questions. Pegasus 1.2 limits prompts to 2,000 tokens. For Pegasus 1.5, this text counts toward the [context window](/v1.3/docs/concepts/models/pegasus#context-window).

            **Examples**:

            - Based on this video, I want to generate five keywords for SEO (Search Engine Optimization).
            - I want to generate a description for my video with the following format: Title of the video, followed by a summary in 2-3 sentences, highlighting the main topic, key events, and concluding remarks.

        prompt_v_2 : typing.Optional[AnalyzePromptV2]
            A structured prompt with `<@name>` placeholders for referencing images. Requires the `model_name` parameter set to `pegasus1.5`. Mutually exclusive with the `prompt` parameter.

            The prompt text and reference images count toward the [context window](/v1.3/docs/concepts/models/pegasus#context-window).

        analysis_mode : typing.Optional[CreateAsyncAnalyzeRequestAnalysisMode]
            The analysis approach for this task.
            - `general`: Analyze the video and generate a response based on your prompt. Supports both free-form text and structured output via `response_format`.
            - `time_based_metadata`: Segment the video into time-based intervals and extract custom metadata for each segment. Requires `model_name` set to `pegasus1.5` and `response_format.type` set to `segment_definitions`.

            **Default:** `general`

        temperature : typing.Optional[AnalyzeTemperature]

        max_tokens : typing.Optional[int]
            The maximum response length, in tokens. The allowed range depends on the model and analysis mode:

            | Model | Mode | Min | Max | Default |
            |-------|------|-----|-----|---------|
            | Pegasus 1.2 | — | 1 | 4,096 | 4096 |
            | Pegasus 1.5 | `general` | 512 | 98,304 | 4,096 |
            | Pegasus 1.5 | `time_based_metadata` | 2,048 | 98,304 | 32,768 |

        response_format : typing.Optional[AsyncResponseFormat]

        min_segment_duration : typing.Optional[float]
            Minimum duration for each extracted segment, in seconds. Set this value to enforce a minimum segment length. Requires `model_name` set to `pegasus1.5` and `analysis_mode` set to `time_based_metadata`. Mutually exclusive with `response_format.segment_definitions[].time_ranges`.

            **Min:** 2

        max_segment_duration : typing.Optional[float]
            Maximum duration for each extracted segment, in seconds. Set this value to split long continuous sections into shorter segments. Must be greater than or equal to `min_segment_duration`. Requires `model_name` set to `pegasus1.5` and `analysis_mode` set to `time_based_metadata`. Mutually exclusive with `response_format.segment_definitions[].time_ranges`.

            **Min:** 2

        start_time : typing.Optional[float]
            Start of the analysis window, in seconds. Use with `end_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to `0`.
            - Must be less than `end_time` and less than the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            - Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
            - Together with `end_time`, this parameter determines the billable video duration. If you omit both, billing uses the full video duration. For details, see the [Frequently asked questions](/v1.3/docs/resources/frequently-asked-questions#how-is-video-segmentation-priced) page.
            </Note>

        end_time : typing.Optional[float]
            End of the analysis window, in seconds. Use with `start_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to the video duration.
            - Must be greater than `start_time` and less than or equal to the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            - Mutually exclusive with `response_format.segment_definitions[].time_ranges`.
            - Together with `start_time`, this parameter determines the billable video duration. If you omit both, billing uses the full video duration. For details, see the [Frequently asked questions](/v1.3/docs/resources/frequently-asked-questions#how-is-video-segmentation-priced) page.
            </Note>

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        CreateAnalyzeTaskResponse
            Analysis task created successfully.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs, VideoContext_Url

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.tasks.create(
                custom_id="prod-segment-analysis-42",
                video=VideoContext_Url(
                    url="https://example.com/video.mp4",
                ),
                prompt="Generate a detailed summary of this video in 3-4 sentences",
                temperature=0.2,
                max_tokens=1000,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            video=video,
            model_name=model_name,
            custom_id=custom_id,
            prompt=prompt,
            prompt_v_2=prompt_v_2,
            analysis_mode=analysis_mode,
            temperature=temperature,
            max_tokens=max_tokens,
            response_format=response_format,
            min_segment_duration=min_segment_duration,
            max_segment_duration=max_segment_duration,
            start_time=start_time,
            end_time=end_time,
            request_options=request_options,
        )
        return _response.data

    async def retrieve(
        self, task_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> AnalyzeTaskResponse:
        """
        This method retrieves the status and results of an analysis task.

        **Task statuses**:
        - `queued`: The task is waiting to be processed.
        - `pending`: The task is queued and waiting to start.
        - `processing`: The platform is analyzing the video.
        - `ready`: Processing is complete. Results are available in the response.
        - `failed`: The task failed. No results were generated.

        Poll this method until `status` is `ready` or `failed`. When `status` is `ready`, use the results from the response.

        Parameters
        ----------
        task_id : str
            The unique identifier of the analysis task.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AnalyzeTaskResponse
            Task status and results retrieved successfully

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.tasks.retrieve(
                task_id="64f8d2c7e4a1b37f8a9c5d12",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve(task_id, request_options=request_options)
        return _response.data

    async def delete(self, task_id: str, *, request_options: typing.Optional[RequestOptions] = None) -> None:
        """
        This method deletes an analysis task. You can only delete tasks that are not currently being processed.

        Parameters
        ----------
        task_id : str
            The unique identifier of the analyze task.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze_async.tasks.delete(
                task_id="64f8d2c7e4a1b37f8a9c5d12",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete(task_id, request_options=request_options)
        return _response.data
