# This file was auto-generated by Fern from our API Definition.

import typing

from ...core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ...core.pagination import AsyncPager, SyncPager
from ...core.request_options import RequestOptions
from ...types.indexed_asset import IndexedAsset
from ...types.indexed_asset_detailed import IndexedAssetDetailed
from ...types.user_metadata import UserMetadata
from .raw_client import AsyncRawIndexedAssetsClient, RawIndexedAssetsClient
from .types.indexed_assets_create_response import IndexedAssetsCreateResponse
from .types.indexed_assets_list_request_status_item import IndexedAssetsListRequestStatusItem
from .types.indexed_assets_list_request_user_metadata_value import IndexedAssetsListRequestUserMetadataValue
from .types.indexed_assets_retrieve_request_embedding_option_item import IndexedAssetsRetrieveRequestEmbeddingOptionItem

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class IndexedAssetsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawIndexedAssetsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawIndexedAssetsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawIndexedAssetsClient
        """
        return self._raw_client

    def list(
        self,
        index_id: str,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        sort_by: typing.Optional[str] = None,
        sort_option: typing.Optional[str] = None,
        status: typing.Optional[
            typing.Union[IndexedAssetsListRequestStatusItem, typing.Sequence[IndexedAssetsListRequestStatusItem]]
        ] = None,
        filename: typing.Optional[str] = None,
        duration: typing.Optional[float] = None,
        fps: typing.Optional[float] = None,
        width: typing.Optional[float] = None,
        height: typing.Optional[int] = None,
        size: typing.Optional[float] = None,
        created_at: typing.Optional[str] = None,
        updated_at: typing.Optional[str] = None,
        user_metadata: typing.Optional[
            typing.Dict[str, typing.Optional[IndexedAssetsListRequestUserMetadataValue]]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[IndexedAsset]:
        """
        This method returns a list of the indexed assets in the specified index. By default, the platform returns your indexed assets sorted by creation date, with the newest at the top of the list.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index for which the platform will retrieve the indexed assets.

        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        sort_by : typing.Optional[str]
            The field to sort on. The following options are available:
            - `updated_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was updated.
            - `created_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was created.

            **Default**: `created_at`.

        sort_option : typing.Optional[str]
            The sorting direction. The following options are available:
            - `asc`
            - `desc`

            **Default**: `desc`.

        status : typing.Optional[typing.Union[IndexedAssetsListRequestStatusItem, typing.Sequence[IndexedAssetsListRequestStatusItem]]]
            Filter by one or more indexing task statuses. The following options are available:
            - `ready`: The indexed asset has been successfully uploaded and indexed.
            - `pending`: The indexed asset is pending.
            - `queued`: The indexed asset is queued.
            - `indexing`: The indexed asset is being indexed.
            - `failed`: The indexed asset indexing task failed.

            To filter by multiple statuses, specify the `status` parameter for each value:
            ```
            status=ready&status=validating
            ```

        filename : typing.Optional[str]
            Filter by filename.

        duration : typing.Optional[float]
            Filter by duration. Expressed in seconds.

        fps : typing.Optional[float]
            Filter by frames per second.

        width : typing.Optional[float]
            Filter by width.

        height : typing.Optional[int]
            Filter by height.

        size : typing.Optional[float]
            Filter by size. Expressed in bytes.

        created_at : typing.Optional[str]
            Filter indexed assets by the creation date and time of their associated indexing tasks, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns indexed assets created on or after the specified date and time.

        updated_at : typing.Optional[str]
            This filter applies only to indexed assets updated using the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/{index-id}/indexed-assets/{indexed-asset-id}` endpoint. It filters indexed assets by the last update date and time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the indexed assets that were last updated on the specified date at or after the given time.

        user_metadata : typing.Optional[typing.Dict[str, typing.Optional[IndexedAssetsListRequestUserMetadataValue]]]
            To enable filtering by custom fields, you must first add user-defined metadata to your video by calling the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/:index-id/indexed-assets/:indexed-asset-id` endpoint.

            Examples:
            - To filter on a string: `?category=recentlyAdded`
            - To filter on an integer: `?batchNumber=5`
            - To filter on a float: `?rating=9.3`
            - To filter on a boolean: `?needsReview=true`

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[IndexedAsset]
            The indexed assets in the specified index have successfully been retrieved.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        response = client.indexes.indexed_assets.list(
            index_id="6298d673f1090f1100476d4c",
            page=1,
            page_limit=10,
            sort_by="created_at",
            sort_option="desc",
            filename="01.mp4",
            duration=1.1,
            fps=1.1,
            width=1.1,
            height=1,
            size=1.1,
            created_at="2024-08-16T16:53:59Z",
            updated_at="2024-08-16T16:53:59Z",
        )
        for item in response:
            yield item
        # alternatively, you can paginate page-by-page
        for page in response.iter_pages():
            yield page
        """
        return self._raw_client.list(
            index_id,
            page=page,
            page_limit=page_limit,
            sort_by=sort_by,
            sort_option=sort_option,
            status=status,
            filename=filename,
            duration=duration,
            fps=fps,
            width=width,
            height=height,
            size=size,
            created_at=created_at,
            updated_at=updated_at,
            user_metadata=user_metadata,
            request_options=request_options,
        )

    def create(
        self,
        index_id: str,
        *,
        asset_id: str,
        enable_video_stream: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> IndexedAssetsCreateResponse:
        """
        This method indexes an uploaded asset to make it searchable and analyzable. Indexing processes your content and extracts information that enables the platform to search and analyze your videos.

        This operation is asynchronous. The platform returns an indexed asset ID immediately and processes your content in the background. Monitor the indexing status to know when your content is ready to use.

        Your asset must meet the requirements based on your workflow:
        - **Search**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#video-file-requirements)
        - **Video analysis**: [Pegasus requirements](/v1.3/docs/concepts/models/pegasus#input-requirements).

        If you want to both search and analyze your videos, the most restrictive requirements apply.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the asset will be indexed.

        asset_id : str
            The unique identifier of the asset to index.

        enable_video_stream : typing.Optional[bool]
            This parameter indicates if the platform stores the video for streaming. When set to `true`, the platform stores the video, and you can retrieve its URL by calling the [`GET`](/v1.3/api-reference/videos/retrieve) method of the `/indexes/{index-id}/indexed-assets/{indexed-asset-id}` endpoint. You can then use this URL to access the stream over the <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank">HLS</a> protocol.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        IndexedAssetsCreateResponse
            The indexing request has been accepted and is processing.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.indexes.indexed_assets.create(
            index_id="6298d673f1090f1100476d4c",
            asset_id="6298d673f1090f1100476d4c",
        )
        """
        _response = self._raw_client.create(
            index_id, asset_id=asset_id, enable_video_stream=enable_video_stream, request_options=request_options
        )
        return _response.data

    def retrieve(
        self,
        index_id: str,
        indexed_asset_id: str,
        *,
        embedding_option: typing.Optional[
            typing.Union[
                IndexedAssetsRetrieveRequestEmbeddingOptionItem,
                typing.Sequence[IndexedAssetsRetrieveRequestEmbeddingOptionItem],
            ]
        ] = None,
        transcription: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> IndexedAssetDetailed:
        """
        This method retrieves information about an indexed asset, including its status, metadata, and optional embeddings or transcription.

        Use this method to:

        - Monitor the indexing progress:
            - Call this endpoint after creating an indexed asset
            - Check the `status` field until it shows `ready`
            - Once ready, your content is available for search and analysis

        - Retrieve the asset metadata:
            - Retrieve system metadata (duration, resolution, filename)
            - Access user-defined metadata

        - Retrieve the embeddings:
            - Include the `embeddingOption` parameter to retrieve video embeddings
            - Requires the Marengo video understanding model to be enabled in your index

        - Retrieve transcriptions:
          - Set the `transcription` parameter to `true` to retrieve spoken words from your video

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the indexed asset has been uploaded.

        indexed_asset_id : str
            The unique identifier of the indexed asset to retrieve.

        embedding_option : typing.Optional[typing.Union[IndexedAssetsRetrieveRequestEmbeddingOptionItem, typing.Sequence[IndexedAssetsRetrieveRequestEmbeddingOptionItem]]]
            Specifies which types of embeddings to retrieve. Values vary depending on the version of the model:
            - **Marengo 3.0**: `visual`, `audio`, `transcription`.
            - **Marengo 2.7**: `visual-text`, `audio`.

            For details, see the [Embedding options](/v1.3/docs/concepts/modalities#embedding-options) section.

            <Note title="Note">
            To retrieve embeddings for a video, it must be indexed using the Marengo video understanding model. For details on enabling this model for an index, see the [Create an index](/reference/create-index) page.
            </Note>

        transcription : typing.Optional[bool]
            Specifies whether to retrieve a transcription of the spoken words.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        IndexedAssetDetailed
            The specified indexed asset information has successfully been retrieved.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.indexes.indexed_assets.retrieve(
            index_id="6298d673f1090f1100476d4c",
            indexed_asset_id="6298d673f1090f1100476d4c",
            transcription=True,
        )
        """
        _response = self._raw_client.retrieve(
            index_id,
            indexed_asset_id,
            embedding_option=embedding_option,
            transcription=transcription,
            request_options=request_options,
        )
        return _response.data

    def delete(
        self, index_id: str, indexed_asset_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> None:
        """
        This method deletes all the information about the specified indexed asset. This action cannot be undone.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the indexed asset has been uploaded.

        indexed_asset_id : str
            The unique identifier of the indexed asset to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.indexes.indexed_assets.delete(
            index_id="6298d673f1090f1100476d4c",
            indexed_asset_id="6298d673f1090f1100476d4c",
        )
        """
        _response = self._raw_client.delete(index_id, indexed_asset_id, request_options=request_options)
        return _response.data

    def update(
        self,
        index_id: str,
        indexed_asset_id: str,
        *,
        user_metadata: typing.Optional[UserMetadata] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        This method updates one or more fields of the metadata of an indexed asset. Also, can delete a field by setting it to `null`.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the indexed asset has been uploaded.

        indexed_asset_id : str
            The unique identifier of the indexed asset to update.

        user_metadata : typing.Optional[UserMetadata]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.indexes.indexed_assets.update(
            index_id="6298d673f1090f1100476d4c",
            indexed_asset_id="6298d673f1090f1100476d4c",
            user_metadata={
                "category": "recentlyAdded",
                "batchNumber": 5,
                "rating": 9.3,
                "needsReview": True,
            },
        )
        """
        _response = self._raw_client.update(
            index_id, indexed_asset_id, user_metadata=user_metadata, request_options=request_options
        )
        return _response.data


class AsyncIndexedAssetsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawIndexedAssetsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawIndexedAssetsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawIndexedAssetsClient
        """
        return self._raw_client

    async def list(
        self,
        index_id: str,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        sort_by: typing.Optional[str] = None,
        sort_option: typing.Optional[str] = None,
        status: typing.Optional[
            typing.Union[IndexedAssetsListRequestStatusItem, typing.Sequence[IndexedAssetsListRequestStatusItem]]
        ] = None,
        filename: typing.Optional[str] = None,
        duration: typing.Optional[float] = None,
        fps: typing.Optional[float] = None,
        width: typing.Optional[float] = None,
        height: typing.Optional[int] = None,
        size: typing.Optional[float] = None,
        created_at: typing.Optional[str] = None,
        updated_at: typing.Optional[str] = None,
        user_metadata: typing.Optional[
            typing.Dict[str, typing.Optional[IndexedAssetsListRequestUserMetadataValue]]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[IndexedAsset]:
        """
        This method returns a list of the indexed assets in the specified index. By default, the platform returns your indexed assets sorted by creation date, with the newest at the top of the list.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index for which the platform will retrieve the indexed assets.

        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        sort_by : typing.Optional[str]
            The field to sort on. The following options are available:
            - `updated_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was updated.
            - `created_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was created.

            **Default**: `created_at`.

        sort_option : typing.Optional[str]
            The sorting direction. The following options are available:
            - `asc`
            - `desc`

            **Default**: `desc`.

        status : typing.Optional[typing.Union[IndexedAssetsListRequestStatusItem, typing.Sequence[IndexedAssetsListRequestStatusItem]]]
            Filter by one or more indexing task statuses. The following options are available:
            - `ready`: The indexed asset has been successfully uploaded and indexed.
            - `pending`: The indexed asset is pending.
            - `queued`: The indexed asset is queued.
            - `indexing`: The indexed asset is being indexed.
            - `failed`: The indexed asset indexing task failed.

            To filter by multiple statuses, specify the `status` parameter for each value:
            ```
            status=ready&status=validating
            ```

        filename : typing.Optional[str]
            Filter by filename.

        duration : typing.Optional[float]
            Filter by duration. Expressed in seconds.

        fps : typing.Optional[float]
            Filter by frames per second.

        width : typing.Optional[float]
            Filter by width.

        height : typing.Optional[int]
            Filter by height.

        size : typing.Optional[float]
            Filter by size. Expressed in bytes.

        created_at : typing.Optional[str]
            Filter indexed assets by the creation date and time of their associated indexing tasks, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns indexed assets created on or after the specified date and time.

        updated_at : typing.Optional[str]
            This filter applies only to indexed assets updated using the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/{index-id}/indexed-assets/{indexed-asset-id}` endpoint. It filters indexed assets by the last update date and time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"). The platform returns the indexed assets that were last updated on the specified date at or after the given time.

        user_metadata : typing.Optional[typing.Dict[str, typing.Optional[IndexedAssetsListRequestUserMetadataValue]]]
            To enable filtering by custom fields, you must first add user-defined metadata to your video by calling the [`PUT`](/v1.3/api-reference/videos/update) method of the `/indexes/:index-id/indexed-assets/:indexed-asset-id` endpoint.

            Examples:
            - To filter on a string: `?category=recentlyAdded`
            - To filter on an integer: `?batchNumber=5`
            - To filter on a float: `?rating=9.3`
            - To filter on a boolean: `?needsReview=true`

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[IndexedAsset]
            The indexed assets in the specified index have successfully been retrieved.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            response = await client.indexes.indexed_assets.list(
                index_id="6298d673f1090f1100476d4c",
                page=1,
                page_limit=10,
                sort_by="created_at",
                sort_option="desc",
                filename="01.mp4",
                duration=1.1,
                fps=1.1,
                width=1.1,
                height=1,
                size=1.1,
                created_at="2024-08-16T16:53:59Z",
                updated_at="2024-08-16T16:53:59Z",
            )
            async for item in response:
                yield item

            # alternatively, you can paginate page-by-page
            async for page in response.iter_pages():
                yield page


        asyncio.run(main())
        """
        return await self._raw_client.list(
            index_id,
            page=page,
            page_limit=page_limit,
            sort_by=sort_by,
            sort_option=sort_option,
            status=status,
            filename=filename,
            duration=duration,
            fps=fps,
            width=width,
            height=height,
            size=size,
            created_at=created_at,
            updated_at=updated_at,
            user_metadata=user_metadata,
            request_options=request_options,
        )

    async def create(
        self,
        index_id: str,
        *,
        asset_id: str,
        enable_video_stream: typing.Optional[bool] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> IndexedAssetsCreateResponse:
        """
        This method indexes an uploaded asset to make it searchable and analyzable. Indexing processes your content and extracts information that enables the platform to search and analyze your videos.

        This operation is asynchronous. The platform returns an indexed asset ID immediately and processes your content in the background. Monitor the indexing status to know when your content is ready to use.

        Your asset must meet the requirements based on your workflow:
        - **Search**: [Marengo requirements](/v1.3/docs/concepts/models/marengo#video-file-requirements)
        - **Video analysis**: [Pegasus requirements](/v1.3/docs/concepts/models/pegasus#input-requirements).

        If you want to both search and analyze your videos, the most restrictive requirements apply.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the asset will be indexed.

        asset_id : str
            The unique identifier of the asset to index.

        enable_video_stream : typing.Optional[bool]
            This parameter indicates if the platform stores the video for streaming. When set to `true`, the platform stores the video, and you can retrieve its URL by calling the [`GET`](/v1.3/api-reference/videos/retrieve) method of the `/indexes/{index-id}/indexed-assets/{indexed-asset-id}` endpoint. You can then use this URL to access the stream over the <a href="https://en.wikipedia.org/wiki/HTTP_Live_Streaming" target="_blank">HLS</a> protocol.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        IndexedAssetsCreateResponse
            The indexing request has been accepted and is processing.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.indexes.indexed_assets.create(
                index_id="6298d673f1090f1100476d4c",
                asset_id="6298d673f1090f1100476d4c",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            index_id, asset_id=asset_id, enable_video_stream=enable_video_stream, request_options=request_options
        )
        return _response.data

    async def retrieve(
        self,
        index_id: str,
        indexed_asset_id: str,
        *,
        embedding_option: typing.Optional[
            typing.Union[
                IndexedAssetsRetrieveRequestEmbeddingOptionItem,
                typing.Sequence[IndexedAssetsRetrieveRequestEmbeddingOptionItem],
            ]
        ] = None,
        transcription: typing.Optional[bool] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> IndexedAssetDetailed:
        """
        This method retrieves information about an indexed asset, including its status, metadata, and optional embeddings or transcription.

        Use this method to:

        - Monitor the indexing progress:
            - Call this endpoint after creating an indexed asset
            - Check the `status` field until it shows `ready`
            - Once ready, your content is available for search and analysis

        - Retrieve the asset metadata:
            - Retrieve system metadata (duration, resolution, filename)
            - Access user-defined metadata

        - Retrieve the embeddings:
            - Include the `embeddingOption` parameter to retrieve video embeddings
            - Requires the Marengo video understanding model to be enabled in your index

        - Retrieve transcriptions:
          - Set the `transcription` parameter to `true` to retrieve spoken words from your video

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the indexed asset has been uploaded.

        indexed_asset_id : str
            The unique identifier of the indexed asset to retrieve.

        embedding_option : typing.Optional[typing.Union[IndexedAssetsRetrieveRequestEmbeddingOptionItem, typing.Sequence[IndexedAssetsRetrieveRequestEmbeddingOptionItem]]]
            Specifies which types of embeddings to retrieve. Values vary depending on the version of the model:
            - **Marengo 3.0**: `visual`, `audio`, `transcription`.
            - **Marengo 2.7**: `visual-text`, `audio`.

            For details, see the [Embedding options](/v1.3/docs/concepts/modalities#embedding-options) section.

            <Note title="Note">
            To retrieve embeddings for a video, it must be indexed using the Marengo video understanding model. For details on enabling this model for an index, see the [Create an index](/reference/create-index) page.
            </Note>

        transcription : typing.Optional[bool]
            Specifies whether to retrieve a transcription of the spoken words.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        IndexedAssetDetailed
            The specified indexed asset information has successfully been retrieved.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.indexes.indexed_assets.retrieve(
                index_id="6298d673f1090f1100476d4c",
                indexed_asset_id="6298d673f1090f1100476d4c",
                transcription=True,
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve(
            index_id,
            indexed_asset_id,
            embedding_option=embedding_option,
            transcription=transcription,
            request_options=request_options,
        )
        return _response.data

    async def delete(
        self, index_id: str, indexed_asset_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> None:
        """
        This method deletes all the information about the specified indexed asset. This action cannot be undone.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the indexed asset has been uploaded.

        indexed_asset_id : str
            The unique identifier of the indexed asset to delete.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.indexes.indexed_assets.delete(
                index_id="6298d673f1090f1100476d4c",
                indexed_asset_id="6298d673f1090f1100476d4c",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete(index_id, indexed_asset_id, request_options=request_options)
        return _response.data

    async def update(
        self,
        index_id: str,
        indexed_asset_id: str,
        *,
        user_metadata: typing.Optional[UserMetadata] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> None:
        """
        This method updates one or more fields of the metadata of an indexed asset. Also, can delete a field by setting it to `null`.

        Parameters
        ----------
        index_id : str
            The unique identifier of the index to which the indexed asset has been uploaded.

        indexed_asset_id : str
            The unique identifier of the indexed asset to update.

        user_metadata : typing.Optional[UserMetadata]

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.indexes.indexed_assets.update(
                index_id="6298d673f1090f1100476d4c",
                indexed_asset_id="6298d673f1090f1100476d4c",
                user_metadata={
                    "category": "recentlyAdded",
                    "batchNumber": 5,
                    "rating": 9.3,
                    "needsReview": True,
                },
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update(
            index_id, indexed_asset_id, user_metadata=user_metadata, request_options=request_options
        )
        return _response.data
