# This file was auto-generated by Fern from our API Definition.

import typing

import httpx
from .analyze_async.client import AnalyzeAsyncClient, AsyncAnalyzeAsyncClient
from .assets.client import AssetsClient, AsyncAssetsClient
from .core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from .core.request_options import RequestOptions
from .embed.client import AsyncEmbedClient, EmbedClient
from .entity_collections.client import AsyncEntityCollectionsClient, EntityCollectionsClient
from .environment import TwelveLabsEnvironment
from .indexes.client import AsyncIndexesClient, IndexesClient
from .multipart_upload.client import AsyncMultipartUploadClient, MultipartUploadClient
from .raw_base_client import AsyncRawBaseClient, RawBaseClient
from .search.client import AsyncSearchClient, SearchClient
from .tasks.client import AsyncTasksClient, TasksClient
from .types.analyze_prompt_v_2 import AnalyzePromptV2
from .types.analyze_request_model_name import AnalyzeRequestModelName
from .types.analyze_stream_request_model_name import AnalyzeStreamRequestModelName
from .types.analyze_temperature import AnalyzeTemperature
from .types.analyze_text_prompt import AnalyzeTextPrompt
from .types.non_stream_analyze_response import NonStreamAnalyzeResponse
from .types.stream_analyze_response import StreamAnalyzeResponse
from .types.sync_response_format import SyncResponseFormat
from .types.video_context import VideoContext

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class BaseClient:
    """
    Use this class to access the different functions within the SDK. You can instantiate any number of clients with different configuration that will propagate to these functions.

    Parameters
    ----------
    base_url : typing.Optional[str]
        The base url to use for requests from the client.

    environment : TwelveLabsEnvironment
        The environment to use for requests from the client. from .environment import TwelveLabsEnvironment



        Defaults to TwelveLabsEnvironment.DEFAULT



    api_key : str
    headers : typing.Optional[typing.Dict[str, str]]
        Additional headers to send with every request.

    timeout : typing.Optional[float]
        The timeout to be used, in seconds, for requests. By default the timeout is 600 seconds, unless a custom httpx client is used, in which case this default is not enforced.

    follow_redirects : typing.Optional[bool]
        Whether the default httpx client follows redirects or not, this is irrelevant if a custom httpx client is passed in.

    httpx_client : typing.Optional[httpx.Client]
        The httpx client to use for making requests, a preconfigured client is used by default, however this is useful should you want to pass in any custom httpx configuration.

    Examples
    --------
    from twelvelabs import TwelveLabs

    client = TwelveLabs(
        api_key="YOUR_API_KEY",
    )
    """

    def __init__(
        self,
        *,
        base_url: typing.Optional[str] = None,
        environment: TwelveLabsEnvironment = TwelveLabsEnvironment.DEFAULT,
        api_key: str,
        headers: typing.Optional[typing.Dict[str, str]] = None,
        timeout: typing.Optional[float] = None,
        follow_redirects: typing.Optional[bool] = True,
        httpx_client: typing.Optional[httpx.Client] = None,
    ):
        _defaulted_timeout = (
            timeout if timeout is not None else 600 if httpx_client is None else httpx_client.timeout.read
        )
        self._client_wrapper = SyncClientWrapper(
            base_url=_get_base_url(base_url=base_url, environment=environment),
            api_key=api_key,
            headers=headers,
            httpx_client=httpx_client
            if httpx_client is not None
            else httpx.Client(timeout=_defaulted_timeout, follow_redirects=follow_redirects)
            if follow_redirects is not None
            else httpx.Client(timeout=_defaulted_timeout),
            timeout=_defaulted_timeout,
        )
        self._raw_client = RawBaseClient(client_wrapper=self._client_wrapper)
        self.tasks = TasksClient(client_wrapper=self._client_wrapper)
        self.indexes = IndexesClient(client_wrapper=self._client_wrapper)
        self.assets = AssetsClient(client_wrapper=self._client_wrapper)
        self.multipart_upload = MultipartUploadClient(client_wrapper=self._client_wrapper)
        self.entity_collections = EntityCollectionsClient(client_wrapper=self._client_wrapper)
        self.embed = EmbedClient(client_wrapper=self._client_wrapper)
        self.search = SearchClient(client_wrapper=self._client_wrapper)
        self.analyze_async = AnalyzeAsyncClient(client_wrapper=self._client_wrapper)

    @property
    def with_raw_response(self) -> RawBaseClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawBaseClient
        """
        return self._raw_client

    def analyze_stream(
        self,
        *,
        model_name: typing.Optional[AnalyzeStreamRequestModelName] = OMIT,
        video_id: typing.Optional[str] = OMIT,
        video: typing.Optional[VideoContext] = OMIT,
        prompt: typing.Optional[AnalyzeTextPrompt] = OMIT,
        prompt_v_2: typing.Optional[AnalyzePromptV2] = OMIT,
        temperature: typing.Optional[AnalyzeTemperature] = OMIT,
        response_format: typing.Optional[SyncResponseFormat] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        start_time: typing.Optional[float] = OMIT,
        end_time: typing.Optional[float] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.Iterator[StreamAnalyzeResponse]:
        """
        This method analyzes your videos and returns the results directly in the response. It generates text based on your prompts and supports both Pegasus 1.2 and Pegasus 1.5 for general analysis (prompt-based text generation).

        <Accordion title="Input requirements">
        - Minimum duration: 4 seconds
        - Maximum duration: 1 hour
        - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
        - Resolution: 360x360 to 5184x2160 pixels
        - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
        </Accordion>

        **When to use this method**:
        - Analyze videos up to 1 hour
        - Retrieve immediate results without polling for task completion
        - Stream text fragments in real time for immediate processing and feedback

        **Do not use this method for**:
        - Videos longer than 1 hour. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.
        - Video segmentation with custom segment definitions. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint with the `model_name` parameter set to `pegasus1.5` instead.

        <Note title="Note">
        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
        </Note>

        Parameters
        ----------
        model_name : typing.Optional[AnalyzeStreamRequestModelName]
            The video understanding model to use for analysis.
            - `pegasus1.2`: General analysis (prompt-based text generation).
            - `pegasus1.5`: General analysis (prompt-based text generation) with video clipping, structured prompts with reference images, extended token limits, and video segmentation (async only). Does not support `analysis_mode=time_based_metadata` or `response_format.type=segment_definitions` — use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

            **Default:** `pegasus1.2`

        video_id : typing.Optional[str]
            The unique identifier of the video to analyze. Use this parameter when the `model_name` parameter is `pegasus1.2`. Not supported with `pegasus1.5`.

            <Info> This parameter will be deprecated and removed in a future version. Use the [`video`](/v1.3/api-reference/analyze-videos/sync-analysis#request.body.video) parameter instead.</Info>

        video : typing.Optional[VideoContext]

        prompt : typing.Optional[AnalyzeTextPrompt]
            A text prompt that guides the model on the desired format or content. Works with both Pegasus 1.2 and Pegasus 1.5. To include reference images in your prompt, use the `prompt_v2` parameter instead (Pegasus 1.5 only). Mutually exclusive with the `prompt_v2` parameter.

        prompt_v_2 : typing.Optional[AnalyzePromptV2]
            A structured prompt with `<@name>` placeholders for referencing images. Requires the `model_name` parameter set to `pegasus1.5`. Mutually exclusive with the `prompt` parameter.

        temperature : typing.Optional[AnalyzeTemperature]

        response_format : typing.Optional[SyncResponseFormat]
            Specifies the format of the response. When you omit this parameter, the platform returns unstructured text. Only the `json_schema` type is supported for synchronous analysis.

        max_tokens : typing.Optional[int]
            The maximum number of tokens to generate. The allowed range depends on the model:

            | Model | Min | Max | Default |
            |-------|-----|-----|---------|
            | Pegasus 1.2 | 1 | 4,096 | 4,096 |
            | Pegasus 1.5 | 512 | 65,536 | 4,096 |

        start_time : typing.Optional[float]
            Start of the analysis window, in seconds. Use with `end_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to `0`.
            - Must be less than `end_time` and less than the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        end_time : typing.Optional[float]
            End of the analysis window, in seconds. Use with `start_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to the video duration.
            - Must be greater than `start_time` and less than or equal to the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.Iterator[StreamAnalyzeResponse]


        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        response = client.analyze_stream()
        for chunk in response:
            yield chunk
        """
        with self._raw_client.analyze_stream(
            model_name=model_name,
            video_id=video_id,
            video=video,
            prompt=prompt,
            prompt_v_2=prompt_v_2,
            temperature=temperature,
            response_format=response_format,
            max_tokens=max_tokens,
            start_time=start_time,
            end_time=end_time,
            request_options=request_options,
        ) as r:
            yield from r.data

    def analyze(
        self,
        *,
        model_name: typing.Optional[AnalyzeRequestModelName] = OMIT,
        video_id: typing.Optional[str] = OMIT,
        video: typing.Optional[VideoContext] = OMIT,
        prompt: typing.Optional[AnalyzeTextPrompt] = OMIT,
        prompt_v_2: typing.Optional[AnalyzePromptV2] = OMIT,
        temperature: typing.Optional[AnalyzeTemperature] = OMIT,
        response_format: typing.Optional[SyncResponseFormat] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        start_time: typing.Optional[float] = OMIT,
        end_time: typing.Optional[float] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> NonStreamAnalyzeResponse:
        """
        This method analyzes your videos and returns the results directly in the response. It generates text based on your prompts and supports both Pegasus 1.2 and Pegasus 1.5 for general analysis (prompt-based text generation).

        <Accordion title="Input requirements">
        - Minimum duration: 4 seconds
        - Maximum duration: 1 hour
        - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
        - Resolution: 360x360 to 5184x2160 pixels
        - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
        </Accordion>

        **When to use this method**:
        - Analyze videos up to 1 hour
        - Retrieve immediate results without polling for task completion
        - Stream text fragments in real time for immediate processing and feedback

        **Do not use this method for**:
        - Videos longer than 1 hour. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.
        - Video segmentation with custom segment definitions. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint with the `model_name` parameter set to `pegasus1.5` instead.

        <Note title="Note">
        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
        </Note>

        Parameters
        ----------
        model_name : typing.Optional[AnalyzeRequestModelName]
            The video understanding model to use for analysis.
            - `pegasus1.2`: General analysis (prompt-based text generation).
            - `pegasus1.5`: General analysis (prompt-based text generation) with video clipping, structured prompts with reference images, extended token limits, and video segmentation (async only). Does not support `analysis_mode=time_based_metadata` or `response_format.type=segment_definitions` — use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

            **Default:** `pegasus1.2`

        video_id : typing.Optional[str]
            The unique identifier of the video to analyze. Use this parameter when the `model_name` parameter is `pegasus1.2`. Not supported with `pegasus1.5`.

            <Info> This parameter will be deprecated and removed in a future version. Use the [`video`](/v1.3/api-reference/analyze-videos/sync-analysis#request.body.video) parameter instead.</Info>

        video : typing.Optional[VideoContext]

        prompt : typing.Optional[AnalyzeTextPrompt]
            A text prompt that guides the model on the desired format or content. Works with both Pegasus 1.2 and Pegasus 1.5. To include reference images in your prompt, use the `prompt_v2` parameter instead (Pegasus 1.5 only). Mutually exclusive with the `prompt_v2` parameter.

        prompt_v_2 : typing.Optional[AnalyzePromptV2]
            A structured prompt with `<@name>` placeholders for referencing images. Requires the `model_name` parameter set to `pegasus1.5`. Mutually exclusive with the `prompt` parameter.

        temperature : typing.Optional[AnalyzeTemperature]

        response_format : typing.Optional[SyncResponseFormat]
            Specifies the format of the response. When you omit this parameter, the platform returns unstructured text. Only the `json_schema` type is supported for synchronous analysis.

        max_tokens : typing.Optional[int]
            The maximum number of tokens to generate. The allowed range depends on the model:

            | Model | Min | Max | Default |
            |-------|-----|-----|---------|
            | Pegasus 1.2 | 1 | 4,096 | 4,096 |
            | Pegasus 1.5 | 512 | 65,536 | 4,096 |

        start_time : typing.Optional[float]
            Start of the analysis window, in seconds. Use with `end_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to `0`.
            - Must be less than `end_time` and less than the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        end_time : typing.Optional[float]
            End of the analysis window, in seconds. Use with `start_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to the video duration.
            - Must be greater than `start_time` and less than or equal to the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        NonStreamAnalyzeResponse


        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.analyze()
        """
        _response = self._raw_client.analyze(
            model_name=model_name,
            video_id=video_id,
            video=video,
            prompt=prompt,
            prompt_v_2=prompt_v_2,
            temperature=temperature,
            response_format=response_format,
            max_tokens=max_tokens,
            start_time=start_time,
            end_time=end_time,
            request_options=request_options,
        )
        return _response.data


class AsyncBaseClient:
    """
    Use this class to access the different functions within the SDK. You can instantiate any number of clients with different configuration that will propagate to these functions.

    Parameters
    ----------
    base_url : typing.Optional[str]
        The base url to use for requests from the client.

    environment : TwelveLabsEnvironment
        The environment to use for requests from the client. from .environment import TwelveLabsEnvironment



        Defaults to TwelveLabsEnvironment.DEFAULT



    api_key : str
    headers : typing.Optional[typing.Dict[str, str]]
        Additional headers to send with every request.

    timeout : typing.Optional[float]
        The timeout to be used, in seconds, for requests. By default the timeout is 600 seconds, unless a custom httpx client is used, in which case this default is not enforced.

    follow_redirects : typing.Optional[bool]
        Whether the default httpx client follows redirects or not, this is irrelevant if a custom httpx client is passed in.

    httpx_client : typing.Optional[httpx.AsyncClient]
        The httpx client to use for making requests, a preconfigured client is used by default, however this is useful should you want to pass in any custom httpx configuration.

    Examples
    --------
    from twelvelabs import AsyncTwelveLabs

    client = AsyncTwelveLabs(
        api_key="YOUR_API_KEY",
    )
    """

    def __init__(
        self,
        *,
        base_url: typing.Optional[str] = None,
        environment: TwelveLabsEnvironment = TwelveLabsEnvironment.DEFAULT,
        api_key: str,
        headers: typing.Optional[typing.Dict[str, str]] = None,
        timeout: typing.Optional[float] = None,
        follow_redirects: typing.Optional[bool] = True,
        httpx_client: typing.Optional[httpx.AsyncClient] = None,
    ):
        _defaulted_timeout = (
            timeout if timeout is not None else 600 if httpx_client is None else httpx_client.timeout.read
        )
        self._client_wrapper = AsyncClientWrapper(
            base_url=_get_base_url(base_url=base_url, environment=environment),
            api_key=api_key,
            headers=headers,
            httpx_client=httpx_client
            if httpx_client is not None
            else httpx.AsyncClient(timeout=_defaulted_timeout, follow_redirects=follow_redirects)
            if follow_redirects is not None
            else httpx.AsyncClient(timeout=_defaulted_timeout),
            timeout=_defaulted_timeout,
        )
        self._raw_client = AsyncRawBaseClient(client_wrapper=self._client_wrapper)
        self.tasks = AsyncTasksClient(client_wrapper=self._client_wrapper)
        self.indexes = AsyncIndexesClient(client_wrapper=self._client_wrapper)
        self.assets = AsyncAssetsClient(client_wrapper=self._client_wrapper)
        self.multipart_upload = AsyncMultipartUploadClient(client_wrapper=self._client_wrapper)
        self.entity_collections = AsyncEntityCollectionsClient(client_wrapper=self._client_wrapper)
        self.embed = AsyncEmbedClient(client_wrapper=self._client_wrapper)
        self.search = AsyncSearchClient(client_wrapper=self._client_wrapper)
        self.analyze_async = AsyncAnalyzeAsyncClient(client_wrapper=self._client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawBaseClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawBaseClient
        """
        return self._raw_client

    async def analyze_stream(
        self,
        *,
        model_name: typing.Optional[AnalyzeStreamRequestModelName] = OMIT,
        video_id: typing.Optional[str] = OMIT,
        video: typing.Optional[VideoContext] = OMIT,
        prompt: typing.Optional[AnalyzeTextPrompt] = OMIT,
        prompt_v_2: typing.Optional[AnalyzePromptV2] = OMIT,
        temperature: typing.Optional[AnalyzeTemperature] = OMIT,
        response_format: typing.Optional[SyncResponseFormat] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        start_time: typing.Optional[float] = OMIT,
        end_time: typing.Optional[float] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> typing.AsyncIterator[StreamAnalyzeResponse]:
        """
        This method analyzes your videos and returns the results directly in the response. It generates text based on your prompts and supports both Pegasus 1.2 and Pegasus 1.5 for general analysis (prompt-based text generation).

        <Accordion title="Input requirements">
        - Minimum duration: 4 seconds
        - Maximum duration: 1 hour
        - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
        - Resolution: 360x360 to 5184x2160 pixels
        - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
        </Accordion>

        **When to use this method**:
        - Analyze videos up to 1 hour
        - Retrieve immediate results without polling for task completion
        - Stream text fragments in real time for immediate processing and feedback

        **Do not use this method for**:
        - Videos longer than 1 hour. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.
        - Video segmentation with custom segment definitions. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint with the `model_name` parameter set to `pegasus1.5` instead.

        <Note title="Note">
        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
        </Note>

        Parameters
        ----------
        model_name : typing.Optional[AnalyzeStreamRequestModelName]
            The video understanding model to use for analysis.
            - `pegasus1.2`: General analysis (prompt-based text generation).
            - `pegasus1.5`: General analysis (prompt-based text generation) with video clipping, structured prompts with reference images, extended token limits, and video segmentation (async only). Does not support `analysis_mode=time_based_metadata` or `response_format.type=segment_definitions` — use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

            **Default:** `pegasus1.2`

        video_id : typing.Optional[str]
            The unique identifier of the video to analyze. Use this parameter when the `model_name` parameter is `pegasus1.2`. Not supported with `pegasus1.5`.

            <Info> This parameter will be deprecated and removed in a future version. Use the [`video`](/v1.3/api-reference/analyze-videos/sync-analysis#request.body.video) parameter instead.</Info>

        video : typing.Optional[VideoContext]

        prompt : typing.Optional[AnalyzeTextPrompt]
            A text prompt that guides the model on the desired format or content. Works with both Pegasus 1.2 and Pegasus 1.5. To include reference images in your prompt, use the `prompt_v2` parameter instead (Pegasus 1.5 only). Mutually exclusive with the `prompt_v2` parameter.

        prompt_v_2 : typing.Optional[AnalyzePromptV2]
            A structured prompt with `<@name>` placeholders for referencing images. Requires the `model_name` parameter set to `pegasus1.5`. Mutually exclusive with the `prompt` parameter.

        temperature : typing.Optional[AnalyzeTemperature]

        response_format : typing.Optional[SyncResponseFormat]
            Specifies the format of the response. When you omit this parameter, the platform returns unstructured text. Only the `json_schema` type is supported for synchronous analysis.

        max_tokens : typing.Optional[int]
            The maximum number of tokens to generate. The allowed range depends on the model:

            | Model | Min | Max | Default |
            |-------|-----|-----|---------|
            | Pegasus 1.2 | 1 | 4,096 | 4,096 |
            | Pegasus 1.5 | 512 | 65,536 | 4,096 |

        start_time : typing.Optional[float]
            Start of the analysis window, in seconds. Use with `end_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to `0`.
            - Must be less than `end_time` and less than the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        end_time : typing.Optional[float]
            End of the analysis window, in seconds. Use with `start_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to the video duration.
            - Must be greater than `start_time` and less than or equal to the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Yields
        ------
        typing.AsyncIterator[StreamAnalyzeResponse]


        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            response = await client.analyze_stream()
            async for chunk in response:
                yield chunk


        asyncio.run(main())
        """
        async with self._raw_client.analyze_stream(
            model_name=model_name,
            video_id=video_id,
            video=video,
            prompt=prompt,
            prompt_v_2=prompt_v_2,
            temperature=temperature,
            response_format=response_format,
            max_tokens=max_tokens,
            start_time=start_time,
            end_time=end_time,
            request_options=request_options,
        ) as r:
            async for _chunk in r.data:
                yield _chunk

    async def analyze(
        self,
        *,
        model_name: typing.Optional[AnalyzeRequestModelName] = OMIT,
        video_id: typing.Optional[str] = OMIT,
        video: typing.Optional[VideoContext] = OMIT,
        prompt: typing.Optional[AnalyzeTextPrompt] = OMIT,
        prompt_v_2: typing.Optional[AnalyzePromptV2] = OMIT,
        temperature: typing.Optional[AnalyzeTemperature] = OMIT,
        response_format: typing.Optional[SyncResponseFormat] = OMIT,
        max_tokens: typing.Optional[int] = OMIT,
        start_time: typing.Optional[float] = OMIT,
        end_time: typing.Optional[float] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> NonStreamAnalyzeResponse:
        """
        This method analyzes your videos and returns the results directly in the response. It generates text based on your prompts and supports both Pegasus 1.2 and Pegasus 1.5 for general analysis (prompt-based text generation).

        <Accordion title="Input requirements">
        - Minimum duration: 4 seconds
        - Maximum duration: 1 hour
        - Formats: [FFmpeg supported formats](https://ffmpeg.org/ffmpeg-formats.html)
        - Resolution: 360x360 to 5184x2160 pixels
        - Aspect ratio: Between 1:1 and 1:2.4, or between 2.4:1 and 1:1.
        </Accordion>

        **When to use this method**:
        - Analyze videos up to 1 hour
        - Retrieve immediate results without polling for task completion
        - Stream text fragments in real time for immediate processing and feedback

        **Do not use this method for**:
        - Videos longer than 1 hour. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.
        - Video segmentation with custom segment definitions. Use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint with the `model_name` parameter set to `pegasus1.5` instead.

        <Note title="Note">
        This endpoint is rate-limited. For details, see the [Rate limits](/v1.3/docs/get-started/rate-limits) page.
        </Note>

        Parameters
        ----------
        model_name : typing.Optional[AnalyzeRequestModelName]
            The video understanding model to use for analysis.
            - `pegasus1.2`: General analysis (prompt-based text generation).
            - `pegasus1.5`: General analysis (prompt-based text generation) with video clipping, structured prompts with reference images, extended token limits, and video segmentation (async only). Does not support `analysis_mode=time_based_metadata` or `response_format.type=segment_definitions` — use the [`POST`](/v1.3/api-reference/analyze-videos/create-async-analysis-task) method of the `/analyze/tasks` endpoint instead.

            **Default:** `pegasus1.2`

        video_id : typing.Optional[str]
            The unique identifier of the video to analyze. Use this parameter when the `model_name` parameter is `pegasus1.2`. Not supported with `pegasus1.5`.

            <Info> This parameter will be deprecated and removed in a future version. Use the [`video`](/v1.3/api-reference/analyze-videos/sync-analysis#request.body.video) parameter instead.</Info>

        video : typing.Optional[VideoContext]

        prompt : typing.Optional[AnalyzeTextPrompt]
            A text prompt that guides the model on the desired format or content. Works with both Pegasus 1.2 and Pegasus 1.5. To include reference images in your prompt, use the `prompt_v2` parameter instead (Pegasus 1.5 only). Mutually exclusive with the `prompt_v2` parameter.

        prompt_v_2 : typing.Optional[AnalyzePromptV2]
            A structured prompt with `<@name>` placeholders for referencing images. Requires the `model_name` parameter set to `pegasus1.5`. Mutually exclusive with the `prompt` parameter.

        temperature : typing.Optional[AnalyzeTemperature]

        response_format : typing.Optional[SyncResponseFormat]
            Specifies the format of the response. When you omit this parameter, the platform returns unstructured text. Only the `json_schema` type is supported for synchronous analysis.

        max_tokens : typing.Optional[int]
            The maximum number of tokens to generate. The allowed range depends on the model:

            | Model | Min | Max | Default |
            |-------|-----|-----|---------|
            | Pegasus 1.2 | 1 | 4,096 | 4,096 |
            | Pegasus 1.5 | 512 | 65,536 | 4,096 |

        start_time : typing.Optional[float]
            Start of the analysis window, in seconds. Use with `end_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to `0`.
            - Must be less than `end_time` and less than the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        end_time : typing.Optional[float]
            End of the analysis window, in seconds. Use with `start_time` to analyze only a portion of the video. Requires `model_name` set to `pegasus1.5`.

            <Note title="Notes">
            - If omitted, defaults to the video duration.
            - Must be greater than `start_time` and less than or equal to the video duration. The clip (`end_time - start_time`) must be at least `4` seconds.
            </Note>

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        NonStreamAnalyzeResponse


        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.analyze()


        asyncio.run(main())
        """
        _response = await self._raw_client.analyze(
            model_name=model_name,
            video_id=video_id,
            video=video,
            prompt=prompt,
            prompt_v_2=prompt_v_2,
            temperature=temperature,
            response_format=response_format,
            max_tokens=max_tokens,
            start_time=start_time,
            end_time=end_time,
            request_options=request_options,
        )
        return _response.data


def _get_base_url(*, base_url: typing.Optional[str] = None, environment: TwelveLabsEnvironment) -> str:
    if base_url is not None:
        return base_url
    elif environment is not None:
        return environment.value
    else:
        raise Exception("Please pass in either base_url or environment to construct the client")
