# This file was auto-generated by Fern from our API Definition.

import typing

from ..core.client_wrapper import AsyncClientWrapper, SyncClientWrapper
from ..core.pagination import AsyncPager, SyncPager
from ..core.request_options import RequestOptions
from ..types.knowledge_store_item import KnowledgeStoreItem
from ..types.knowledge_store_item_asset_type import KnowledgeStoreItemAssetType
from ..types.knowledge_store_metadata_edit_value import KnowledgeStoreMetadataEditValue
from ..types.knowledge_store_metadata_value import KnowledgeStoreMetadataValue
from .raw_client import AsyncRawKnowledgeStoreItemsClient, RawKnowledgeStoreItemsClient
from .types.knowledge_store_items_list_request_sort_by import KnowledgeStoreItemsListRequestSortBy
from .types.knowledge_store_items_list_request_status_item import KnowledgeStoreItemsListRequestStatusItem

# this is used as the default value for optional parameters
OMIT = typing.cast(typing.Any, ...)


class KnowledgeStoreItemsClient:
    def __init__(self, *, client_wrapper: SyncClientWrapper):
        self._raw_client = RawKnowledgeStoreItemsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> RawKnowledgeStoreItemsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        RawKnowledgeStoreItemsClient
        """
        return self._raw_client

    def list(
        self,
        knowledge_store_id: str,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        sort_by: typing.Optional[KnowledgeStoreItemsListRequestSortBy] = None,
        sort_option: typing.Optional[str] = None,
        status: typing.Optional[
            typing.Union[
                KnowledgeStoreItemsListRequestStatusItem, typing.Sequence[KnowledgeStoreItemsListRequestStatusItem]
            ]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> SyncPager[KnowledgeStoreItem]:
        """
        This method returns a list of items in the specified knowledge store.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        sort_by : typing.Optional[KnowledgeStoreItemsListRequestSortBy]
            The field to sort on. The following options are available:
            - `created_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was created.
            - `updated_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was last updated.

            **Default**: `created_at`.

        sort_option : typing.Optional[str]
            The sorting direction. The following options are available:
            - `asc`
            - `desc`

            **Default**: `desc`.

        status : typing.Optional[typing.Union[KnowledgeStoreItemsListRequestStatusItem, typing.Sequence[KnowledgeStoreItemsListRequestStatusItem]]]
            Filter by one or more item processing statuses. For the meaning of each value, see the
            [Item statuses](/v1.3/api-reference/knowledge-store-items/the-knowledge-store-item-object#item-statuses)
            section on **The knowledge store item object** page.

            To filter by multiple statuses, repeat the `status` parameter for each value:
            ```
            status=queued&status=pending
            ```

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        SyncPager[KnowledgeStoreItem]
            The knowledge store items have been successfully retrieved.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        response = client.knowledge_store_items.list(
            knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
            page=1,
            page_limit=10,
            sort_by="created_at",
            sort_option="desc",
            status=["queued"],
        )
        for item in response:
            yield item
        # alternatively, you can paginate page-by-page
        for page in response.iter_pages():
            yield page
        """
        return self._raw_client.list(
            knowledge_store_id,
            page=page,
            page_limit=page_limit,
            sort_by=sort_by,
            sort_option=sort_option,
            status=status,
            request_options=request_options,
        )

    def create(
        self,
        knowledge_store_id: str,
        *,
        asset_id: str,
        asset_type: typing.Optional[KnowledgeStoreItemAssetType] = OMIT,
        item_metadata: typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]] = OMIT,
        metadata: typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> KnowledgeStoreItem:
        """
        This method adds an asset to a knowledge store for processing.
        The operation is asynchronous. The item is created immediately with the `queued`
        status and processed in the background.

        **Asset size limits**:
        - **Video**: Up to 10 GB
        - **Images**: Up to 32 MB

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        asset_id : str
            The unique identifier of the asset to add to the knowledge store.

        asset_type : typing.Optional[KnowledgeStoreItemAssetType]
            The type of item to create.

        item_metadata : typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]]
            Custom metadata for the item, as user-defined key-value pairs. Up to 50 pairs, keys up to 128 characters, string values up to 8192 characters. Keys are strings; values can be a string, a number, a boolean, or an array of strings. A nested object, an array containing anything other than strings, and a null value are rejected. An integer must fit in 53 bits (-9007199254740991 to 9007199254740991). Send a wider integer, or an identifier that must be preserved verbatim, as a string. To change it after you create the item, use the [`PATCH`](/v1.3/api-reference/knowledge-store-items/update-item-metadata) or [`PUT`](/v1.3/api-reference/knowledge-store-items/replace-item-metadata) method of the `/knowledge-stores/{knowledge_store_id}/items/{item_id}/item-metadata` endpoint.

        metadata : typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]]
            Deprecated. Use `item_metadata` instead. The item stores the pairs in its `item_metadata` field and not in its `metadata` field. Send `item_metadata` or `metadata`, not both. A request that sets both returns a `400` error.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The item creation request has been accepted and is processing.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.knowledge_store_items.create(
            knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
            asset_id="6298d673f1090f1100476d4c",
        )
        """
        _response = self._raw_client.create(
            knowledge_store_id,
            asset_id=asset_id,
            asset_type=asset_type,
            item_metadata=item_metadata,
            metadata=metadata,
            request_options=request_options,
        )
        return _response.data

    def retrieve(
        self, knowledge_store_id: str, item_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> KnowledgeStoreItem:
        """
        This method retrieves the details of a specific knowledge store item.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The knowledge store item has been successfully retrieved.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.knowledge_store_items.retrieve(
            knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
            item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
        )
        """
        _response = self._raw_client.retrieve(knowledge_store_id, item_id, request_options=request_options)
        return _response.data

    def delete(
        self, knowledge_store_id: str, item_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> None:
        """
        This method deletes the specified knowledge store item.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.knowledge_store_items.delete(
            knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
            item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
        )
        """
        _response = self._raw_client.delete(knowledge_store_id, item_id, request_options=request_options)
        return _response.data

    def replace_knowledge_store_item_metadata(
        self,
        knowledge_store_id: str,
        item_id: str,
        *,
        item_metadata: typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> KnowledgeStoreItem:
        """
        This method replaces the entire `item_metadata` of the specified knowledge store item and returns the item. Unlike the [`PATCH`](/v1.3/api-reference/knowledge-store-items/update-item-metadata) method, which merges your changes with the existing metadata, this method overwrites the stored value in full:
        - A key with a value creates or replaces that key.
        - A key you omit, or set to an empty string (`""`), an empty array (`[]`), or `null`, is removed.

        To clear all item metadata, send an empty object (`{}`) in the `item_metadata` field. The `metadata` field of the item does not change.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        item_metadata : typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]]
            The complete `item_metadata` of the item after the request. Up to 50 pairs. Keys are strings of up to 128 characters. String values can have up to 8192 characters. Values can be a string, a number, a boolean, or an array of strings. A nested object and an array containing anything other than strings are rejected. An integer must fit in 53 bits (-9007199254740991 to 9007199254740991). Send a wider integer, or an identifier that must be preserved verbatim, as a string.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The item metadata has been successfully replaced.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.knowledge_store_items.replace_knowledge_store_item_metadata(
            knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
            item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
            item_metadata={"creator_handle": "@jane.doe", "view_count": 48210},
        )
        """
        _response = self._raw_client.replace_knowledge_store_item_metadata(
            knowledge_store_id, item_id, item_metadata=item_metadata, request_options=request_options
        )
        return _response.data

    def update_knowledge_store_item_metadata(
        self,
        knowledge_store_id: str,
        item_id: str,
        *,
        item_metadata: typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> KnowledgeStoreItem:
        """
        This method updates the `item_metadata` of the specified knowledge store item and returns the item. The platform merges your changes with the existing metadata:
        - A key with a value creates or replaces that key.
        - A key set to `null` deletes that key.
        - A key set to an empty string (`""`) or an empty array (`[]`) is ignored.
        - A key you omit from the request keeps its current value.

        The `metadata` field of the item does not change. If the merged result contains more than 50 pairs, the request fails.

        To replace all item metadata in a single call, use the [`PUT`](/v1.3/api-reference/knowledge-store-items/replace-item-metadata) method of the `/knowledge-stores/{knowledge_store_id}/items/{item_id}/item-metadata` endpoint instead.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        item_metadata : typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]]
            The keys to change. Send at least one key. Keys are strings of up to 128 characters. String values can have up to 8192 characters. Values can be a string, a number, a boolean, an array of strings, or `null` to delete the key. A nested object and an array containing anything other than strings are rejected. An integer must fit in 53 bits (-9007199254740991 to 9007199254740991). Send a wider integer, or an identifier that must be preserved verbatim, as a string.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The item metadata has been successfully updated.

        Examples
        --------
        from twelvelabs import TwelveLabs

        client = TwelveLabs(
            api_key="YOUR_API_KEY",
        )
        client.knowledge_store_items.update_knowledge_store_item_metadata(
            knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
            item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
            item_metadata={"creator_handle": "@jane.doe", "view_count": 48210},
        )
        """
        _response = self._raw_client.update_knowledge_store_item_metadata(
            knowledge_store_id, item_id, item_metadata=item_metadata, request_options=request_options
        )
        return _response.data


class AsyncKnowledgeStoreItemsClient:
    def __init__(self, *, client_wrapper: AsyncClientWrapper):
        self._raw_client = AsyncRawKnowledgeStoreItemsClient(client_wrapper=client_wrapper)

    @property
    def with_raw_response(self) -> AsyncRawKnowledgeStoreItemsClient:
        """
        Retrieves a raw implementation of this client that returns raw responses.

        Returns
        -------
        AsyncRawKnowledgeStoreItemsClient
        """
        return self._raw_client

    async def list(
        self,
        knowledge_store_id: str,
        *,
        page: typing.Optional[int] = None,
        page_limit: typing.Optional[int] = None,
        sort_by: typing.Optional[KnowledgeStoreItemsListRequestSortBy] = None,
        sort_option: typing.Optional[str] = None,
        status: typing.Optional[
            typing.Union[
                KnowledgeStoreItemsListRequestStatusItem, typing.Sequence[KnowledgeStoreItemsListRequestStatusItem]
            ]
        ] = None,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> AsyncPager[KnowledgeStoreItem]:
        """
        This method returns a list of items in the specified knowledge store.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        page : typing.Optional[int]
            A number that identifies the page to retrieve.

            **Default**: `1`.

        page_limit : typing.Optional[int]
            The number of items to return on each page.

            **Default**: `10`.
            **Max**: `50`.

        sort_by : typing.Optional[KnowledgeStoreItemsListRequestSortBy]
            The field to sort on. The following options are available:
            - `created_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was created.
            - `updated_at`: Sorts by the time, in the RFC 3339 format ("YYYY-MM-DDTHH:mm:ssZ"), when the item was last updated.

            **Default**: `created_at`.

        sort_option : typing.Optional[str]
            The sorting direction. The following options are available:
            - `asc`
            - `desc`

            **Default**: `desc`.

        status : typing.Optional[typing.Union[KnowledgeStoreItemsListRequestStatusItem, typing.Sequence[KnowledgeStoreItemsListRequestStatusItem]]]
            Filter by one or more item processing statuses. For the meaning of each value, see the
            [Item statuses](/v1.3/api-reference/knowledge-store-items/the-knowledge-store-item-object#item-statuses)
            section on **The knowledge store item object** page.

            To filter by multiple statuses, repeat the `status` parameter for each value:
            ```
            status=queued&status=pending
            ```

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        AsyncPager[KnowledgeStoreItem]
            The knowledge store items have been successfully retrieved.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            response = await client.knowledge_store_items.list(
                knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
                page=1,
                page_limit=10,
                sort_by="created_at",
                sort_option="desc",
                status=["queued"],
            )
            async for item in response:
                yield item

            # alternatively, you can paginate page-by-page
            async for page in response.iter_pages():
                yield page


        asyncio.run(main())
        """
        return await self._raw_client.list(
            knowledge_store_id,
            page=page,
            page_limit=page_limit,
            sort_by=sort_by,
            sort_option=sort_option,
            status=status,
            request_options=request_options,
        )

    async def create(
        self,
        knowledge_store_id: str,
        *,
        asset_id: str,
        asset_type: typing.Optional[KnowledgeStoreItemAssetType] = OMIT,
        item_metadata: typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]] = OMIT,
        metadata: typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]] = OMIT,
        request_options: typing.Optional[RequestOptions] = None,
    ) -> KnowledgeStoreItem:
        """
        This method adds an asset to a knowledge store for processing.
        The operation is asynchronous. The item is created immediately with the `queued`
        status and processed in the background.

        **Asset size limits**:
        - **Video**: Up to 10 GB
        - **Images**: Up to 32 MB

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        asset_id : str
            The unique identifier of the asset to add to the knowledge store.

        asset_type : typing.Optional[KnowledgeStoreItemAssetType]
            The type of item to create.

        item_metadata : typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]]
            Custom metadata for the item, as user-defined key-value pairs. Up to 50 pairs, keys up to 128 characters, string values up to 8192 characters. Keys are strings; values can be a string, a number, a boolean, or an array of strings. A nested object, an array containing anything other than strings, and a null value are rejected. An integer must fit in 53 bits (-9007199254740991 to 9007199254740991). Send a wider integer, or an identifier that must be preserved verbatim, as a string. To change it after you create the item, use the [`PATCH`](/v1.3/api-reference/knowledge-store-items/update-item-metadata) or [`PUT`](/v1.3/api-reference/knowledge-store-items/replace-item-metadata) method of the `/knowledge-stores/{knowledge_store_id}/items/{item_id}/item-metadata` endpoint.

        metadata : typing.Optional[typing.Dict[str, KnowledgeStoreMetadataValue]]
            Deprecated. Use `item_metadata` instead. The item stores the pairs in its `item_metadata` field and not in its `metadata` field. Send `item_metadata` or `metadata`, not both. A request that sets both returns a `400` error.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The item creation request has been accepted and is processing.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.knowledge_store_items.create(
                knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
                asset_id="6298d673f1090f1100476d4c",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.create(
            knowledge_store_id,
            asset_id=asset_id,
            asset_type=asset_type,
            item_metadata=item_metadata,
            metadata=metadata,
            request_options=request_options,
        )
        return _response.data

    async def retrieve(
        self, knowledge_store_id: str, item_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> KnowledgeStoreItem:
        """
        This method retrieves the details of a specific knowledge store item.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The knowledge store item has been successfully retrieved.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.knowledge_store_items.retrieve(
                knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
                item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.retrieve(knowledge_store_id, item_id, request_options=request_options)
        return _response.data

    async def delete(
        self, knowledge_store_id: str, item_id: str, *, request_options: typing.Optional[RequestOptions] = None
    ) -> None:
        """
        This method deletes the specified knowledge store item.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        None

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.knowledge_store_items.delete(
                knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
                item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.delete(knowledge_store_id, item_id, request_options=request_options)
        return _response.data

    async def replace_knowledge_store_item_metadata(
        self,
        knowledge_store_id: str,
        item_id: str,
        *,
        item_metadata: typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> KnowledgeStoreItem:
        """
        This method replaces the entire `item_metadata` of the specified knowledge store item and returns the item. Unlike the [`PATCH`](/v1.3/api-reference/knowledge-store-items/update-item-metadata) method, which merges your changes with the existing metadata, this method overwrites the stored value in full:
        - A key with a value creates or replaces that key.
        - A key you omit, or set to an empty string (`""`), an empty array (`[]`), or `null`, is removed.

        To clear all item metadata, send an empty object (`{}`) in the `item_metadata` field. The `metadata` field of the item does not change.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        item_metadata : typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]]
            The complete `item_metadata` of the item after the request. Up to 50 pairs. Keys are strings of up to 128 characters. String values can have up to 8192 characters. Values can be a string, a number, a boolean, or an array of strings. A nested object and an array containing anything other than strings are rejected. An integer must fit in 53 bits (-9007199254740991 to 9007199254740991). Send a wider integer, or an identifier that must be preserved verbatim, as a string.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The item metadata has been successfully replaced.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.knowledge_store_items.replace_knowledge_store_item_metadata(
                knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
                item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
                item_metadata={"creator_handle": "@jane.doe", "view_count": 48210},
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.replace_knowledge_store_item_metadata(
            knowledge_store_id, item_id, item_metadata=item_metadata, request_options=request_options
        )
        return _response.data

    async def update_knowledge_store_item_metadata(
        self,
        knowledge_store_id: str,
        item_id: str,
        *,
        item_metadata: typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]],
        request_options: typing.Optional[RequestOptions] = None,
    ) -> KnowledgeStoreItem:
        """
        This method updates the `item_metadata` of the specified knowledge store item and returns the item. The platform merges your changes with the existing metadata:
        - A key with a value creates or replaces that key.
        - A key set to `null` deletes that key.
        - A key set to an empty string (`""`) or an empty array (`[]`) is ignored.
        - A key you omit from the request keeps its current value.

        The `metadata` field of the item does not change. If the merged result contains more than 50 pairs, the request fails.

        To replace all item metadata in a single call, use the [`PUT`](/v1.3/api-reference/knowledge-store-items/replace-item-metadata) method of the `/knowledge-stores/{knowledge_store_id}/items/{item_id}/item-metadata` endpoint instead.

        Parameters
        ----------
        knowledge_store_id : str
            The unique identifier of the knowledge store.

        item_id : str
            The unique identifier of the knowledge store item.

        item_metadata : typing.Dict[str, typing.Optional[KnowledgeStoreMetadataEditValue]]
            The keys to change. Send at least one key. Keys are strings of up to 128 characters. String values can have up to 8192 characters. Values can be a string, a number, a boolean, an array of strings, or `null` to delete the key. A nested object and an array containing anything other than strings are rejected. An integer must fit in 53 bits (-9007199254740991 to 9007199254740991). Send a wider integer, or an identifier that must be preserved verbatim, as a string.

        request_options : typing.Optional[RequestOptions]
            Request-specific configuration.

        Returns
        -------
        KnowledgeStoreItem
            The item metadata has been successfully updated.

        Examples
        --------
        import asyncio

        from twelvelabs import AsyncTwelveLabs

        client = AsyncTwelveLabs(
            api_key="YOUR_API_KEY",
        )


        async def main() -> None:
            await client.knowledge_store_items.update_knowledge_store_item_metadata(
                knowledge_store_id="ks_069e9869-1ea3-7481-8000-dae72bf6be6e",
                item_id="ksi_069e9870-3c4d-7abc-9012-3456789abcde",
                item_metadata={"creator_handle": "@jane.doe", "view_count": 48210},
            )


        asyncio.run(main())
        """
        _response = await self._raw_client.update_knowledge_store_item_metadata(
            knowledge_store_id, item_id, item_metadata=item_metadata, request_options=request_options
        )
        return _response.data
